src/main/resources/xsd/440-П_BVS.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-ÑÕÅÌÀ äëÿ ôîðìû îò÷åòíîñòè Ôàéë
ÑÃÅÍÅÐÈÐÎÂÀÍÀ XSLT-ÏÐÅÎÁÐÀÇÎÂÀÍÈÅÌ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-operac:oper4:v4.00..3" xmlns="urn:cbr-operac:oper4:v4.00..3"><xs:element name="Ôàéë" type="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂÛÏÁÍÎÑÍÎÂ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÏðåäÁàíêà" type="ÔàéëÏðåäÁàíêà" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈäÝÑ" type="GUIDòèï" use="required"/>
		<xs:attribute name="ÒèïÈíô" type="ÒèïÈíôÒèï-ëîê" use="required"/>
		<xs:attribute name="ÂåðñÏðîã" type="ÂåðñÏðîãÒèï-ëîê" use="required"/>
		<xs:attribute name="ÒåëÎòïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄîëæíÎòïð" type="Ñòðîêà100" use="required"/>
		<xs:attribute name="ÔàìÎòïð" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="ÂåðñÔîðì" type="ÂåðñÔîðìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÇàïð" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÇàïð" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ñàìîñòîÿò" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑàìîñòîÿò" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÊëèåíòÑ÷åò" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åò" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÑâåäåíèÿÂûï" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûï" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÂûïèñ" type="ÍîìÑïðàâÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÂûïèñ" type="Äàòà" use="required"/>
		<xs:attribute name="ÒèïÂûïèñ" type="ÒèïÑïðàâÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÏîäòâ" type="Ñòðîêà100" use="optional"/>
		<xs:attribute name="ÂèäÂûïèñ" type="ÂèäÑïðàâÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÇàïð" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍîìÇàïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄàòàÇàïð" type="Äàòà" use="required"/>
		<xs:attribute name="ÊîäÍÎ" type="ÊîäÍÎÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈíäÇàïð" type="ÈíäÇàïðÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑàìîñòîÿò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÊëèåíòÞË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÊëèåíòÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÊëèåíòÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÊëèåíòÑ÷åòÊëèåíòÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûï" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="Ñ÷ÄàòàÏåðèîä" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷ÄàòàÏåðèîä" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÑâåäÑ×Îïåð" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×Îïåð" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Ñ÷åòÎòñóò" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóò" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷ÄàòàÏåðèîä" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåéñòÏîÑîñò" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷ÄàòàÏåðèîäÄåéñòÏîÑîñò" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈìÏåðèîä" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷ÄàòàÏåðèîäÈìÏåðèîä" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷ÄàòàÏåðèîäÄåéñòÏîÑîñò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Äàòà" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷ÄàòàÏåðèîäÈìÏåðèîä" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Íà÷Ïåðèîäà" type="Äàòà" use="required"/>
		<xs:attribute name="ÎêîíÏåðèîäà" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×Îïåð" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂàëþòàÑ÷" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂàëþòàÑ÷" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="ÂèäÑ÷" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂèäÑ÷" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÂëàäåëåöÑ÷" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÄåïîíåíòÑ÷" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÁåíåôÑ÷" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÈçìÑ÷åòà" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòà" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÑâÎñòÎáîðîòÑ×" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâÎñòÎáîðîòÑ×" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÑâåäÄîïÔàéë" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâåäÄîïÔàéë" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑ÷" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÎòêð" type="Äàòà" use="required"/>
		<xs:attribute name="ÄàòàÎêîí" type="Äàòà" use="optional"/>
		<xs:attribute name="ÄàòàÇàêð" type="Äàòà" use="optional"/>
		<xs:attribute name="ÏîðÍîì" type="ÏîðÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÍà÷Ïåðèîä" type="Äàòà" use="required"/>
		<xs:attribute name="ÄàòàÎêÏåðèîä" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂàëþòàÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÊîäÂàë" type="ÊîäÂàëÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂèäÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÊîäÂèäÑ÷" type="ÊîäÂèäÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÂèäÈíÑ÷" type="ÂèäÑ÷Òèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëÓêàçËèöî" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÂëÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÂëàäåëåö" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÂëÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëàäåëåöÞË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåïÓêàçËèöî" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÄåïÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÄåïîíåíò" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíò" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÄåïÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåïîíåíòÞË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÄåïîíåíòÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÄåïîíåíòÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÁåíÓêàçËèöî" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÁåíÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÁåíåô" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåô" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÁåíÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåô" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÁåíåôÞË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÁåíåôÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÁåíåôÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÁàíêÏÁÐÈçì" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçì" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Ñ÷åòÄîÈçì" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="Ñ÷åòÈçìåí" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÈçì" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçì" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâÎñòÎáîðîòÑ×" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÎñòÎáîðîòÑ×" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâÎñòÎáîðîòÑ×ÎñòÎáîðîòÑ×" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="ÍåòÓ÷åòà" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâÎñòÎáîðîòÑ×ÍåòÓ÷åòà" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâÎñòÎáîðîòÑ×ÎñòÎáîðîòÑ×" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÎñòÂõ" type="ÎñòàòîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑóìÄåá" type="ÎáîðîòÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑóìÊðåä" type="ÎáîðîòÒèï-ëîê" use="required"/>
		<xs:attribute name="ÎñòÈñõ" type="ÎñòàòîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÂàëÎñò" type="ÊîäÂàëÒèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâÎñòÎáîðîòÑ×ÍåòÓ÷åòà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍåòÓ÷åòàÎñò" type="Ñòðîêà100" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâåäÄîïÔàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÈìÄîïÔ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâåäÄîïÔàéëÈìÄîïÔ" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ÊîëÄîïÔ" type="ÊîëÄîïÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑâåäÑ×ÎïåðÑâåäÄîïÔàéëÈìÄîïÔ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÄîïÔàéë" type="ÄîïÔàéëÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂëàäåëåöÑ÷" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑ÷" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëÓêàçËèöî" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÂëÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÂëàäåëåö" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÂëÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëàäåëåöÞË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÎÑÍÎÂÑâåäåíèÿÂûïÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎ" type="ÔàéëÏðåäÁàíêàÔÈÎ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Äîëæíîñòü" type="Ñòðîêà100" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêàÔÈÎ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ÍîìÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÐåãÍîìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0123"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÍÎÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4320"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0400"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÁÐÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7702235133"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="7702235133"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÞËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1234567890"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="5"/><xs:maxLength value="10"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/><xs:pattern value="\d{5}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÔËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="771123456789"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="12"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/><xs:pattern value="0"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="616301001"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="9"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..20"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..25"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÂàëÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="810"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A98"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈíäåêñÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123560"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="6"/><xs:pattern value="[0-9]{6}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÑåðÍîìÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4511665544"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="25"/><xs:minLength value="1"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="21"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="03"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="5"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="8"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:pattern value="[1-8]{1}"/><xs:enumeration value="3"/><xs:enumeration value="5"/><xs:enumeration value="8"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÌåñòîÐîæÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="254"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÐåãèîíÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="01"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="14"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="99"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîëÄîïÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="325"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="15"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÏîðÍîìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="951357"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="6"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÎñòàòîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="987654321.78"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="12378.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="20"/><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÎáîðîòÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789012345678.12"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="321.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="20"/><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÂèäÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0100"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÔîðìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.00"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈíäÇàïðÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3216549870123654789753"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="22"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÄîïÔàéëÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:maxLength value="350"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍàèìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÏÀÎ Âîëíà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:enumeration value="1"/><xs:enumeration value="2"/><xs:enumeration value="3"/><xs:enumeration value="4"/><xs:enumeration value="5"/><xs:enumeration value="6"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÏðîãÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÈíôÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÂÛÏÁÍÎÑÍÎÂ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="ÂÛÏÁÍÎÑÍÎÂ"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÓêàçËèöîÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ñ÷åò íàçâàííîãî ëèöà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="20"/><xs:enumeration value="ñ÷åò íàçâàííîãî ëèöà"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Äàòà" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2014-11-02"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..20 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà50" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..50 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="50"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..60 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..100 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÁÈÊòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="040125003"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{9}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
