src/main/resources/xsd/440-П_BNS.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-ÑÕÅÌÀ äëÿ ôîðìû îò÷åòíîñòè Ôàéë
ÑÃÅÍÅÐÈÐÎÂÀÍÀ XSLT-ÏÐÅÎÁÐÀÇÎÂÀÍÈÅÌ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-440P:spr4:v4.00..3" xmlns="urn:cbr-440P:spr4:v4.00..3"><xs:element name="Ôàéë" type="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑÏÐÁÍÍÀËÈ×" type="ÔàéëÑÏÐÁÍÍÀËÈ×" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÏðåäÁàíêà" type="ÔàéëÏðåäÁàíêà" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈäÝÑ" type="GUIDòèï" use="required"/>
		<xs:attribute name="ÒèïÈíô" type="ÒèïÈíôÒèï-ëîê" use="required"/>
		<xs:attribute name="ÂåðñÏðîã" type="ÂåðñÏðîãÒèï-ëîê" use="required"/>
		<xs:attribute name="ÒåëÎòïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄîëæíÎòïð" type="Ñòðîêà100" use="required"/>
		<xs:attribute name="ÔàìÎòïð" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="ÂåðñÔîðì" type="ÂåðñÔîðìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÇàïð" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÇàïð" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ñàìîñòîÿò" type="ÔàéëÑÏÐÁÍÍÀËÈ×Ñàìîñòîÿò" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÊëèåíòÁàíê" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíê" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÑâåäÑ÷åò" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åò" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑïðàâ" type="ÍîìÑïðàâÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÑïðàâ" type="Äàòà" use="required"/>
		<xs:attribute name="ÒèïÑïðàâ" type="ÒèïÑïðàâÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÇàïð" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍîìÇàïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄàòàÇàïð" type="Äàòà" use="required"/>
		<xs:attribute name="ÊîäÍÎ" type="ÊîäÍÎÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈíäÇàïð" type="ÈíäÇàïðÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÏîäòâ" type="Ñòðîêà100" use="optional"/>
		<xs:attribute name="ÂèäÑïð" type="ÂèäÑïðàâÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×Ñàìîñòîÿò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÊëèåíòÞË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÊëèåíòÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÊëèåíòÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÊëèåíòÁàíêÊëèåíòÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="Ñ÷ÄàòàÏåðèîä" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷ÄàòàÏåðèîä" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ñ÷åò" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åò" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷ÄàòàÏåðèîä" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåéñòÏîÑîñò" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷ÄàòàÏåðèîäÄåéñòÏîÑîñò" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈìÏåðèîä" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷ÄàòàÏåðèîäÈìÏåðèîä" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷ÄàòàÏåðèîäÄåéñòÏîÑîñò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Äàòà" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷ÄàòàÏåðèîäÈìÏåðèîä" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Íà÷Ïåðèîäà" type="Äàòà" use="required"/>
		<xs:attribute name="ÎêîíÏåðèîäà" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂèäÑ÷" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂèäÑ÷" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÂëàäåëåöÑ÷" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÄåïîíåíòÑ÷" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÁåíåôÑ÷" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÈçìÑ÷åòà" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòà" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑ÷" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÎòêð" type="Äàòà" use="required"/>
		<xs:attribute name="ÄàòàÎêîí" type="Äàòà" use="optional"/>
		<xs:attribute name="ÄàòàÇàêð" type="Äàòà" use="optional"/>
		<xs:attribute name="ÊîäÂàë" type="ÊîäÂàëÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂèäÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÊîäÂèäÑ÷" type="ÊîäÂèäÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÂèäÈíÑ÷" type="ÂèäÑ÷Òèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëÓêàçËèöî" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÂëÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÂëàäåëåö" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÂëÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëàäåëåöÞË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåïÓêàçËèöî" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÄåïÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÄåïîíåíò" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíò" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÄåïÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåïîíåíòÞË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÄåïîíåíòÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÄåïîíåíòÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÁåíÓêàçËèöî" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÁåíÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÁåíåô" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåô" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÁåíÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåô" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÁåíåôÞË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÁåíåôÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÁåíåôÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÁàíêÏÁÐÈçì" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçì" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Ñ÷åòÄîÈçì" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="Ñ÷åòÈçìåí" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÈçì" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçì" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÁÍÍÀËÈ×ÑâåäÑ÷åòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎ" type="ÔàéëÏðåäÁàíêàÔÈÎ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Äîëæíîñòü" type="Ñòðîêà100" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêàÔÈÎ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ÒèïÈíôÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÑÏÐÁÍÍÀËÈ×"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="ÑÏÐÁÍÍÀËÈ×"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:enumeration value="1"/><xs:enumeration value="2"/><xs:enumeration value="3"/><xs:enumeration value="4"/><xs:enumeration value="5"/><xs:enumeration value="6"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÐåãÍîìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0123"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÍÎÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4320"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0400"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÁÐÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7702235133"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="7702235133"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÞËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1234567890"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="5"/><xs:maxLength value="10"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/><xs:pattern value="\d{5}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÔËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="771123456789"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="12"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="616301001"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="9"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="40702810311111111111"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..25"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÂàëÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="810"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A98"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈíäåêñÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123560"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="6"/><xs:pattern value="[0-9]{6}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÑåðÍîìÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4511665544"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="25"/><xs:minLength value="1"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="21"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="03"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÌåñòîÐîæÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="254"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÐåãèîíÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="01"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="14"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="99"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="6"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:pattern value="[1-8]{1}"/><xs:enumeration value="1"/><xs:enumeration value="6"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÂèäÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0100"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÏðîãÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÔîðìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.00"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈíäÇàïðÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3216549870123654789753"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="22"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍàèìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÏÀÎ Âîëíà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÓêàçËèöîÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ñ÷åò íàçâàííîãî ëèöà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="20"/><xs:enumeration value="ñ÷åò íàçâàííîãî ëèöà"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Äàòà" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2014-11-02"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..20 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà50" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..50 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="50"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..60 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..100 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÁÈÊòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="040125003"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{9}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
