src/main/resources/xsd/440-П_BOS.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-ÑÕÅÌÀ äëÿ ôîðìû îò÷åòíîñòè Ôàéë
ÑÃÅÍÅÐÈÐÎÂÀÍÀ XSLT-ÏÐÅÎÁÐÀÇÎÂÀÍÈÅÌ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-440P:spr4:v4.00..3" xmlns="urn:cbr-440P:spr4:v4.00..3"><xs:element name="Ôàéë" type="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑÏÐÎÁÎÑÒÀÒ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÏðåäÁàíêà" type="ÔàéëÏðåäÁàíêà" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈäÝÑ" type="GUIDòèï" use="required"/>
		<xs:attribute name="ÒèïÈíô" type="ÒèïÈíôÒèï-ëîê" use="required"/>
		<xs:attribute name="ÂåðñÏðîã" type="ÂåðñÏðîãÒèï-ëîê" use="required"/>
		<xs:attribute name="ÒåëÎòïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄîëæíÎòïð" type="Ñòðîêà100" use="required"/>
		<xs:attribute name="ÔàìÎòïð" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="ÂåðñÔîðì" type="ÂåðñÔîðìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÇàïðÐåø" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÇàïðÐåø" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ñàìîñòîÿò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑàìîñòîÿò" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÊëèåíòÁàíê" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíê" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÑâåäåíèÿÎñò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñò" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑïðàâ" type="ÍîìÑïðàâÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÑïðàâ" type="Äàòà" use="required"/>
		<xs:attribute name="ÒèïÑïðàâ" type="ÒèïÑïðàâÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÏîäòâ" type="Ñòðîêà100" use="optional"/>
		<xs:attribute name="ÂèäÑïð" type="ÂèäÑïðàâÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÇàïðÐåø" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÇàïð" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÇàïðÐåøÑâåäÇàïð" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÐåø" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÇàïðÐåøÑâåäÐåø" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÇàïðÐåøÑâåäÇàïð" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍîìÇàïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄàòàÇàïð" type="Äàòà" use="required"/>
		<xs:attribute name="ÊîäÍÎÇàïð" type="ÊîäÍÎÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈíäÇàïð" type="ÈíäÇàïðÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÇàïðÐåøÑâåäÐåø" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍîìÐåø" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄàòàÐåø" type="Äàòà" use="required"/>
		<xs:attribute name="ÊîäÍÎÐåø" type="ÊîäÍÎÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑàìîñòîÿò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÊëèåíòÞË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÊëèåíòÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÊëèåíòÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÊëèåíòÁàíêÊëèåíòÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="Ñ÷ÄàòàÏåðèîä" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷ÄàòàÏåðèîä" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Ñ÷åò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åò" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Ñ÷åòÎòñóò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóò" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷ÄàòàÏåðèîä" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåéñòÏîÑîñò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷ÄàòàÏåðèîäÄåéñòÏîÑîñò" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈìÏåðèîä" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷ÄàòàÏåðèîäÈìÏåðèîä" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷ÄàòàÏåðèîäÄåéñòÏîÑîñò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Äàòà" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷ÄàòàÏåðèîäÈìÏåðèîä" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Íà÷Ïåðèîäà" type="Äàòà" use="required"/>
		<xs:attribute name="ÎêîíÏåðèîäà" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂàëþòàÑ÷" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂàëþòàÑ÷" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="ÂèäÑ÷" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂèäÑ÷" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÂëàäåëåöÑ÷" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÄåïîíåíòÑ÷" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÁåíåôÑ÷" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÈçìÑ÷åòà" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòà" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÑâÎñòàò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÑâÎñòàò" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑ÷" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÎòêð" type="Äàòà" use="required"/>
		<xs:attribute name="ÄàòàÎêîí" type="Äàòà" use="optional"/>
		<xs:attribute name="ÄàòàÇàêð" type="Äàòà" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂàëþòàÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÊîäÂàë" type="ÊîäÂàëÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂèäÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÊîäÂèäÑ÷" type="ÊîäÂèäÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÂèäÈíÑ÷" type="ÂèäÑ÷Òèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëÓêàçËèöî" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÂëÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÂëàäåëåö" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÂëÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëàäåëåöÞË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåïÓêàçËèöî" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÄåïÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÄåïîíåíò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíò" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÄåïÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÄåïîíåíòÞË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÄåïîíåíòÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÄåïîíåíòÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÄåïîíåíòÑ÷ÈíîåÄåïîíåíòÄåïîíåíòÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÁåíÓêàçËèöî" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÁåíÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÁåíåô" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåô" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÁåíÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåô" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÁåíåôÞË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÁåíåôÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÁåíåôÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÁåíåôÑ÷ÈíîåÁåíåôÁåíåôÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÁàíêÏÁÐÈçì" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçì" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Ñ÷åòÄîÈçì" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="Ñ÷åòÈçìåí" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÈçì" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçì" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÈçìÑ÷åòàÑâåäÁàíêÏÁÐÈçìÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÑâÎñòàò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Îñòàò" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÑâÎñòàòÎñòàò" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="ÍåòÓ÷åòà" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÑâÎñòàòÍåòÓ÷åòà" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÑâÎñòàòÎñòàò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÄàòàÎñò" type="Äàòà" use="required"/>
		<xs:attribute name="Îñòàòîê" type="ÎñòàòîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÂàëÎñò" type="ÊîäÂàëÒèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÑâÎñòàòÍåòÓ÷åòà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍåòÓ÷åòàÎñò" type="ÍåòÓ÷åòàÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂëàäåëåöÑ÷" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑ÷" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëÓêàçËèöî" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÂëÓêàçËèöî" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÈíîåÂëàäåëåö" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÂëÓêàçËèöî" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÓêàçËèöî" type="ÓêàçËèöîÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåö" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÂëàäåëåöÞË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÂëàäåëåöÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÞË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÈÍÍÞË" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏ" type="ÊÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàèìÞË" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÈÏ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÈÏ" type="ÈÍÍÔËÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÈÏÔÈÎÈÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎÔË" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Àäðåñ" type="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈÍÍÔË" type="ÈÍÍÔËÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÐîæä" type="Äàòà" use="required"/>
		<xs:attribute name="ÌåñòîÐîæä" type="ÌåñòîÐîæÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÄîê" type="ÊîäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑåðÍîìÄîê" type="ÑåðÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÔÈÎÔË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÏÐÎÁÎÑÒÀÒÑâåäåíèÿÎñòÑ÷åòÎòñóòÂëàäåëåöÑ÷ÈíîåÂëàäåëåöÂëàäåëåöÔËÀäðåñ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Èíäåêñ" type="ÈíäåêñÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊîäÐåãèîí" type="ÊîäÐåãèîíÒèï-ëîê" use="required"/>
		<xs:attribute name="Ðàéîí" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Ãîðîä" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="ÍàñåëÏóíêò" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Óëèöà" type="Ñòðîêà50" use="optional"/>
		<xs:attribute name="Äîì" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êîðïóñ" type="Ñòðîêà20" use="optional"/>
		<xs:attribute name="Êâàðòèðà" type="Ñòðîêà20" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎ" type="ÔàéëÏðåäÁàíêàÔÈÎ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Äîëæíîñòü" type="Ñòðîêà100" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêàÔÈÎ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ÍîìÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÐåãÍîìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0123"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÍÎÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4320"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0000"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÁÐÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7702235133"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="7702235133"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÞËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1234567890"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="5"/><xs:maxLength value="10"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/><xs:pattern value="\d{5}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÔËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="771123456789"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="12"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="616301001"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="9"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..20"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..25"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÂèäÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0100"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÂàëÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="810"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A98"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈíäåêñÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123560"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="6"/><xs:pattern value="[0-9]{6}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="21"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="03"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:pattern value="[1-8]{1}"/><xs:enumeration value="2"/><xs:enumeration value="4"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÑïðàâÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:enumeration value="1"/><xs:enumeration value="2"/><xs:enumeration value="3"/><xs:enumeration value="4"/><xs:enumeration value="5"/><xs:enumeration value="6"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÑåðÍîìÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4511665544"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="25"/><xs:minLength value="1"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍàèìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÏÀÎ Âîëíà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÌåñòîÐîæÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="254"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÐåãèîíÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="01"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="14"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="99"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÎñòàòîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="987654321.78"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="12378.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="20"/><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÔîðìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.00"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈíäÇàïðÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3216549870123654789753"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="22"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÏðîãÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍåòÓ÷åòàÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ó÷åò ñðåäñòâ çàïðàøèâàåìîãî ëèöà áàíêîì (ôèëèàëîì áàíêà) íå âåäåòñÿ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="67"/><xs:enumeration value="ó÷åò ñðåäñòâ çàïðàøèâàåìîãî ëèöà áàíêîì (ôèëèàëîì áàíêà) íå âåäåòñÿ"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÓêàçËèöîÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ñ÷åò íàçâàííîãî ëèöà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="20"/><xs:enumeration value="ñ÷åò íàçâàííîãî ëèöà"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÈíôÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÑÏÐÎÁÎÑÒÀÒ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="ÑÏÐÎÁÎÑÒÀÒ"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Äàòà" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2014-11-02"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..20 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà50" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..50 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="50"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..60 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..100 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÁÈÊòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="040125003"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{9}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
