src/main/resources/xsd/440-П_BVD.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-ÑÕÅÌÀ äëÿ ôîðìû îò÷åòíîñòè Ôàéë
ÑÃÅÍÅÐÈÐÎÂÀÍÀ XSLT-ÏÐÅÎÁÐÀÇÎÂÀÍÈÅÌ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-440P:oper4:v4.00..3" xmlns="urn:cbr-440P:oper4:v4.00..3"><xs:element name="Ôàéë" type="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÂÛÏÁÍÄÎÏÎË" type="ÔàéëÂÛÏÁÍÄÎÏÎË" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÏðåäÁàíêà" type="ÔàéëÏðåäÁàíêà" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈäÝÑ" type="GUIDòèï" use="required"/>
		<xs:attribute name="ÒèïÈíô" type="ÒèïÈíôÒèï-ëîê" use="required"/>
		<xs:attribute name="ÂåðñÏðîã" type="ÂåðñÏðîãÒèï-ëîê" use="required"/>
		<xs:attribute name="ÒåëÎòïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄîëæíÎòïð" type="Ñòðîêà100" use="required"/>
		<xs:attribute name="ÔàìÎòïð" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="ÂåðñÔîðì" type="ÂåðñÔîðìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎË" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÎïåðàöèèÑ×" type="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ÏîðÍîì" type="ÏîðÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÏîðÍîìÄÔ" type="ÏîðÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÑ÷" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÈäÓñòðîéñòâà" type="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÈäÓñòðîéñòâà" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ÐåêâÄîê" type="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÄîê" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÐåêâÁàíê" type="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÁàíê" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÐåêâÏëàò" type="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÏëàò" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÏîðÍîìÁëîê" type="ÏîðÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÎïåð" type="Äàòà" use="required"/>
		<xs:attribute name="ÂðåìÿÎïåð" type="Âðåìÿ" use="required"/>
		<xs:attribute name="ÏîïÌÑÊÂðåìÿ" type="ÌÑÊÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑóìÄåáåòà" type="ÎáîðîòÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑóìÊðåäèòà" type="ÎáîðîòÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍàçÏëàò" type="ÍàçÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÊîäÏåðåâîä" type="ÊîäÏåðåâîäÒèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÈäÓñòðîéñòâà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="IPÀäð" type="IPÀäðÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÌÀÑÀäðåñ" type="ÌÀÑÀäðåñÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÍîìSIM" type="ÍîìSIMÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÍîìÒåëåô" type="ÍîìÒåëåôÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÈíîéÍîìåð" type="Ñòðîêà100" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÄîê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÂèäÄîê" type="ÂèäÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÄîê" type="ÍîìÄîêÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÄîê" type="Äàòà" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÊîäÁÏ" type="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÁàíêÊîäÁÏ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÊîðÑ×" type="ÊîðÑ×Òèï-ëîê" use="optional"/>
		<xs:attribute name="ÍàèìÁÏ" type="ÍàèìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÁàíêÊîäÁÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊÁÏ" type="ÁÈÊÁàíêÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÊîäSWÁÏí" type="SWÁàíêÒèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÂÛÏÁÍÄÎÏÎËÎïåðàöèèÑ×ÐåêâÏëàò" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÍàèìÏÏ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÏÏ" type="ÈÍÍÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÏÏ" type="ÊÏÏÏÏÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÑ×ÏÏ" type="ÊîðÑ×Òèï-ëîê" use="optional"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎ" type="ÔàéëÏðåäÁàíêàÔÈÎ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Äîëæíîñòü" type="Ñòðîêà100" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêàÔÈÎ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ÊÏÏÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="616301001"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/><xs:pattern value="0"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="32145"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7713216540"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="771741852963"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{5}|\d{10}|\d{12}"/><xs:pattern value="0"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..20"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍàèìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÏÀÎ Âîëíà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÏîðÍîìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="6"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂèäÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="01"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÎáîðîòÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789012345678.12"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="321.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="20"/><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÄîêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="654321"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="RU272T203011255"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍàçÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:maxLength value="1000"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÏåðåâîäÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="8963"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1234"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:positiveInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîðÑ×Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="34"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÁÈÊÁàíêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:positiveInteger"><xs:totalDigits value="9"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="SWÁàíêÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3214569871232145698712"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="321"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="3"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÏðîãÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÔîðìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.00"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÌÑÊÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="+01"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="000"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="-10"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÈíôÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÂÛÏÁÍÄÎÏÎË"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="ÂÛÏÁÍÄÎÏÎË"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="IPÀäðÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="7"/><xs:maxLength value="39"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÌÀÑÀäðåñÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÕÕ:ÕÕ:ÕÕ:ÕÕ:ÕÕ:ÕÕ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="17"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìSIMÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÒåëåôÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:maxLength value="18"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Äàòà" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2014-11-02"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Âðåìÿ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="13:20:45"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:time"><xs:pattern value="\d{2}:\d{2}:\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..20 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..60 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..100 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
