src/main/resources/xsd/440-П_BNP.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-ÑÕÅÌÀ äëÿ ôîðìû îò÷åòíîñòè Ôàéë
ÑÃÅÍÅÐÈÐÎÂÀÍÀ XSLT-ÏÐÅÎÁÐÀÇÎÂÀÍÈÅÌ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-440P:soob4:v4.00..3" xmlns="urn:cbr-440P:soob4:v4.00..3"><xs:element name="Ôàéë" type="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="Ôàéë" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑÁÙÁÍÍÅÈÑÏ" type="ÔàéëÑÁÙÁÍÍÅÈÑÏ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ÏðåäÁàíêà" type="ÔàéëÏðåäÁàíêà" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÈäÝÑ" type="GUIDòèï" use="required"/>
		<xs:attribute name="ÂåðñÏðîã" type="ÂåðñÏðîãÒèï-ëîê" use="required"/>
		<xs:attribute name="ÒèïÈíô" type="ÒèïÈíôÒèï-ëîê" use="required"/>
		<xs:attribute name="ÒåëÎòïð" type="Ñòðîêà20" use="required"/>
		<xs:attribute name="ÄîëæíÎòïð" type="Ñòðîêà100" use="required"/>
		<xs:attribute name="ÔàìÎòïð" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="ÂåðñÔîðì" type="ÂåðñÔîðìÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÁÙÁÍÍÅÈÑÏ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÑâåäÁàíêÏÁÐ" type="ÔàéëÑÁÙÁÍÍÅÈÑÏÑâåäÁàíêÏÁÐ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ÍîìÑîîáù" type="ÍîìÑîîáùÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìåðÏîðó÷" type="ÍîìÑîîáùÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄàòàÏîðó÷" type="Äàòà" use="required"/>
		<xs:attribute name="ÊîäÍÎÁ" type="ÊîäÍÎÒèï-ëîê" use="required"/>
		<xs:attribute name="ÑóìÏëàò" type="ÑóìÏëàòÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÍÏ" type="ÈÍÍÏÏÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÊÏÏÍÏ" type="ÊÏÏÒèï-ëîê" use="optional"/>
		<xs:attribute name="Ïëàòåëüù" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="Ñóì×àñò" type="ÑóìÏëàòÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÊîäÏðè÷Íåèñï" type="ÊîäÏðè÷èíÒèï-ëîê" use="required"/>
		<xs:attribute name="ÄîïÑâåäåí" type="ÄîïÑâåäåíÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÄàòàÍàïðàâ" type="Äàòà" use="required"/>
		<xs:attribute name="ÍîìÑ÷åò" type="ÍîìÑ÷Òèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÁÙÁÍÍÅÈÑÏÑâåäÁàíêÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ÑâåäÁàíê" type="ÔàéëÑÁÙÁÍÍÅÈÑÏÑâåäÁàíêÏÁÐÑâåäÁàíê" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ÑâåäÏÁÐ" type="ÔàéëÑÁÙÁÍÍÅÈÑÏÑâåäÁàíêÏÁÐÑâåäÏÁÐ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÁÙÁÍÍÅÈÑÏÑâåäÁàíêÏÁÐÑâåäÁàíê" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÐåãÍîì" type="ÐåãÍîìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÍîìÔèë" type="ÐåãÍîìÒèï-ëîê" use="optional"/>
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÁàíê" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁàíê" type="ÈÍÍÞËÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÁàíê" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÑÁÙÁÍÍÅÈÑÏÑâåäÁàíêÏÁÐÑâåäÏÁÐ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ÁÈÊ" type="ÁÈÊòèï" use="required"/>
		<xs:attribute name="ÍàèìÓÁÐ" type="ÍàèìÒèï-ëîê" use="required"/>
		<xs:attribute name="ÈÍÍÁÐ" type="ÈÍÍÁÐÒèï-ëîê" use="required"/>
		<xs:attribute name="ÊÏÏÓÁÐ" type="ÊÏÏÒèï-ëîê" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêà" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="ÔÈÎ" type="ÔàéëÏðåäÁàíêàÔÈÎ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Äîëæíîñòü" type="Ñòðîêà100" use="required"/>
	</xs:complexType>
	<xs:complexType name="ÔàéëÏðåäÁàíêàÔÈÎ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ôàìèëèÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Èìÿ" type="Ñòðîêà60" use="required"/>
		<xs:attribute name="Îò÷åñòâî" type="Ñòðîêà60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="ÐåãÍîìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0123"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÍÎÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4412"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{4}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÁÐÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7702235133"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="7702235133"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÞËÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1234567890"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="5"/><xs:maxLength value="10"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/><xs:pattern value="\d{5}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="616301001"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="9"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑ÷Òèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1..20"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍàèìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÏÀÎ Âîëíà"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÈÍÍÏÏÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="32145"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="7713216547"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="771741852963"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{5}|\d{10}|\d{12}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÍîìÑîîáùÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123654"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÑóìÏëàòÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789012345678.12"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="20"/><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÊîäÏðè÷èíÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="1"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="3"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:positiveInteger"><xs:totalDigits value="1"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÄîïÑâåäåíÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="512"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÏðîãÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÂåðñÔîðìÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="4.00"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.00"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÒèïÈíôÒèï-ëîê" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="ÑÁÙÁÍÍÅÈÑÏ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="ÑÁÙÁÍÍÅÈÑÏ"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Äàòà" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="2014-11-02"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..20 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..60 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ñòðîêà100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="0..100 ñèìâîëîâ"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ÁÈÊòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="040125003"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="123456789"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{9}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDòèï" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ÏðèìåðûÇíà÷åíèé><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:Çíà÷åíèåÒèïà Çíà÷Òèïà="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:ÏðèìåðûÇíà÷åíèé></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
