src/main/resources/xsd/data_types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">	
<!-- ************************************************************* -->
<!-- ******************** Простые типы данных ******************** -->
<!-- ************************************************************* -->
	
<!-- *************** Дата *************** -->
<xs:simpleType name="Дата">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9]{2}/[0-9]{2}/[0-9]{4}"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="ДатаП">
  <xs:restriction base="xs:string">
    <xs:pattern value="([0-9]{2}/[0-9]{2}/[0-9]{4})|()"/>
  </xs:restriction>
</xs:simpleType>

<!-- *************** Время *************** -->
<xs:simpleType name="Время5">
  <xs:restriction base="xs:string">
	<xs:pattern value="[0-9]{2}:[0-9]{2}"/>
  </xs:restriction>
</xs:simpleType>	
<xs:simpleType name="Время8">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
  </xs:restriction>
</xs:simpleType>

<!-- *************** Телефон *************** -->
<xs:simpleType name="Телефон">
  <xs:restriction base="xs:string">
    <xs:pattern value="[0-9,'(',')','\-']{1,250}"/>
  </xs:restriction>
</xs:simpleType>

<!-- *************** Текст *************** -->
<xs:simpleType name="Т100">
	<xs:restriction base="xs:string">
		<xs:minLength value="1"/>
		<xs:maxLength value="1000"/>
	</xs:restriction>
</xs:simpleType>
<xs:simpleType name="Т250">
  <xs:restriction base="xs:string">
    <xs:minLength value="1"/>
    <xs:maxLength value="250"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Т250П">
  <xs:restriction base="xs:string">
    <xs:maxLength value="250"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Т2000">
  <xs:restriction base="xs:string">
    <xs:minLength value="1"/>
    <xs:maxLength value="2000"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Т2000П">
  <xs:restriction base="xs:string">
    <xs:maxLength value="2000"/>
  </xs:restriction>
</xs:simpleType>

<!-- *************** Названия *************** -->
<xs:simpleType name="Назв20">
  <xs:restriction base="xs:string">
    <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,' ','\-','.','/']{1,20}"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Назв20П">
  <xs:restriction base="xs:string">
    <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,' ','\-','.','/']{1,20}|()"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Назв60">
  <xs:restriction base="xs:string">
    <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,' ','\-','.','/']{1,60}"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Назв60П">
  <xs:restriction base="xs:string">
    <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,' ','\-','.','/']{1,60}|()"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Назв250">
  <xs:restriction base="xs:string">
    <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,' ','\-','.','/']{1,250}"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="Назв250П">
  <xs:restriction base="xs:string">
    <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,' ','\-','.','/']{1,250}|()"/>
  </xs:restriction>
</xs:simpleType>
  
<!-- *************** Номер документа *************** -->
<xs:simpleType name="НомДок50">
  <xs:restriction base="xs:string">
    <xs:pattern value="[А-Я,A-Z,0-9,'\-','/']{1,50}"/>
  </xs:restriction>
</xs:simpleType>
<xs:simpleType name="НомДок50П">
  <xs:restriction base="xs:string">
    <xs:pattern value="[А-Я,A-Z,0-9,'\-','/']{1,50}|()"/>
  </xs:restriction>
</xs:simpleType>

<!-- ************************************************************* -->
<!-- ******************** Сложные типы данных ******************** -->
<!-- ************************************************************* -->
	
<!-- *************** Адрес *************** -->		
<xs:complexType name="Адрес">
  <xs:annotation>
    <xs:documentation>Тип данных «Адрес»</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="КодОКСМ">
      <xs:annotation>
        <xs:documentation>Код страны</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="Индекс">
      <xs:annotation>
        <xs:documentation>Почтовый индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{6}|"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="КодСубъектаПоОКАТО">
      <xs:annotation>
        <xs:documentation>Код субъекта Российской Федерации по ОКАТО</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{2}|"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="Регион" type="Назв250П">
      <xs:annotation>
        <xs:documentation>Регион</xs:documentation>
      </xs:annotation>
    </xs:element>  
    <xs:element name="Пункт" type="Назв250">
      <xs:annotation>
        <xs:documentation>Населенный пункт</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Улица" type="Назв250П">
      <xs:annotation>
        <xs:documentation>Улица</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Дом" type="Назв60П">
      <xs:annotation>
        <xs:documentation>Дом (владение)</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Корп" type="Назв20П">
      <xs:annotation>
        <xs:documentation>Корпус (строение)</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Оф" type="Назв20П">
      <xs:annotation>
        <xs:documentation>Офис (квартира)</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
	
<!-- *************** ФИО *************** -->	
<xs:complexType name="ФИО">
  <xs:annotation>
    <xs:documentation>Тип данных «Фамилия, имя, отчество»</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="Фам" type="Т100">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Имя" type="Т100">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Отч" type="Т100" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
<xs:complexType name="МестоРожд">
  <xs:annotation>
    <xs:documentation>Тип данных «Место рождения»</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="КодОКСМ">
      <xs:annotation>
        <xs:documentation>Код страны</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="КодСубъектаПоОКАТО">
      <xs:annotation>
        <xs:documentation>Код субъекта Российской Федерации по ОКАТО</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{2}|"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="Регион" type="Назв250П">
      <xs:annotation>
        <xs:documentation>Регион</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="Пункт" type="Назв250">
      <xs:annotation>
        <xs:documentation>Населенный пункт</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
	
<!-- *************** ДокУдост *************** -->	
<xs:complexType name="ДокУдост">
  <xs:annotation>
    <xs:documentation>
      Тип данных «Сведения о документе, удостоверяющем личность гражданина Российской Федерации, 
      иностранного гражданина или лица без гражданства»
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="ВидДокКод">
      <xs:annotation>
        <xs:documentation>Код вида документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ВидДокНаименование" type="Т250">
      <xs:annotation>
        <xs:documentation>Наименование вида документа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СерияДок" type="НомДок50П">
      <xs:annotation>
        <xs:documentation>Серия документа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="НомДок" type="НомДок50П">
      <xs:annotation>
        <xs:documentation>Номер документа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="КемВыданДок" type="Т250">
      <xs:annotation>
        <xs:documentation>Кем выдан документ</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ДатВыдачиДок" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата выдачи документа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="КодПодр">
      <xs:annotation>
        <xs:documentation>Код подразделения</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[а-я,А-Я,a-z,A-Z,0-9,'\-','/']{1,50}|()"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>
	
<!-- *************** ДокПодтв *************** -->
<xs:complexType name="ДокПодтв">
  <xs:annotation>
    <xs:documentation>
      Тип данных «Сведения о документе, подтверждающем право на пребывание (проживание) в Российской Федерации»
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="ВидДокКод">
      <xs:annotation>
        <xs:documentation>Код вида документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ВидДокНаименование" type="Т250">
      <xs:annotation>
        <xs:documentation>Наименование вида документа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СерияДокПреб" type="НомДок50П">
      <xs:annotation>
        <xs:documentation>Серия документа, подтверждающего право на пребывание (проживание) в Российской Федерации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="НомДокПреб" type="НомДок50П">
      <xs:annotation>
        <xs:documentation>Номер документа, подтверждающего право на пребывание (проживание) в Российской Федерации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="НачПравПреб" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата начала срока действия права пребывания (проживания) в Российской Федерации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ОкончПравПреб" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата окончания срока действия права пребывания (проживания) в Российской Федерации</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
	
<!-- *************** МигрКарт *************** -->
<xs:complexType name="МигрКарт">
  <xs:annotation>
    <xs:documentation>Тип данных «Сведения миграционной карты»</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="КодМигрКарт">
      <xs:annotation>
        <xs:documentation>Код вида документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{2}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
	<xs:element name="СерияМигрКарт">
	  <xs:annotation>
	    <xs:documentation>Номер миграционной карты</xs:documentation>
	  </xs:annotation>
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
		  <xs:pattern value="[А-Я,A-Z,0-9,'\-','/',' ']{1,50}|"/>
	    </xs:restriction>
	  </xs:simpleType>
	</xs:element>
	<xs:element name="НомМигрКарт">
      <xs:annotation>
        <xs:documentation>Номер миграционной карты</xs:documentation>
      </xs:annotation>
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
		  <xs:pattern value="[А-Я,A-Z,0-9,'\-','/',' ']{1,50}"/>
		</xs:restriction>
	  </xs:simpleType>
    </xs:element>
    <xs:element name="ДатНачПреб" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата начала срока пребывания</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ДатОкончПреб" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата окончания срока пребывания</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- *************** Лицензия *************** -->	
<xs:complexType name="Лицензия">
  <xs:annotation>
    <xs:documentation>
      Тип данных «Сведения о выданной юридическому лицу или физическому лицу – индивидуальному предпринимателю 
      лицензии на право осуществления деятельности, подлежащей лицензированию»
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="ВидЛиценз" type="Т2000">
      <xs:annotation>
        <xs:documentation>Вид лицензии</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="НомЛиценз" type="Т250">
      <xs:annotation>
        <xs:documentation>Номер лицензии</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ДатВыдЛиценз" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата выдачи лицензии</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="КемВыдЛиценз" type="Т250">
      <xs:annotation>
        <xs:documentation>Кем выдана лицензия</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СрокЛиценз" type="Т250">
      <xs:annotation>
        <xs:documentation>Срок действия лицензии</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ПеречВидДеят" type="Т2000">
      <xs:annotation>
        <xs:documentation>Перечень видов лицензируемой деятельности</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- *************** Выписки из анкеты (досье) клиента – юридического лица (филиала юридического лица) *************** -->
<xs:complexType name="ВыпискаЮЛ">
  <xs:annotation>
    <xs:documentation>
      Информационная часть Выписки из анкеты (досье) клиента – юридического лица (филиала юридического лица)
    </xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="НаимЮЛ" type="Т2000">
      <xs:annotation>
        <xs:documentation>Полное наименование юридического лица (филиала)</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СокрНаимЮЛ" type="Т250П">
      <xs:annotation>
        <xs:documentation>Сокращенное наименование юридического лица (филиала)</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ИнНаимЮЛ" type="Т2000П">
      <xs:annotation>
        <xs:documentation>Наименование юридического лица (филиала) на иностранном языке</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ОргПравФорм" type="Т2000">
      <xs:annotation>
        <xs:documentation>Организационно-правовая форма юридического лица</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ИННЮЛ">
      <xs:annotation>
        <xs:documentation>ИНН (КИО) юридического лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{10}|[0-9]{5}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ОГРНЮЛ">
      <xs:annotation>
        <xs:documentation>Регистрационный номер (ОГРН)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{1,20}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ДатаРег" type="Дата" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Дата регистрации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="НаимРегОрг" type="Т250" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Наименование регистрирующего органа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="АдрЮЛ" type="Адрес">
      <xs:annotation>
        <xs:documentation>Место регистрации юридического лица</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="БИККлКО" minOccurs="0">
      <xs:annotation>
        <xs:documentation>БИК кредитной организации - резидента</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ОргЮЛ" type="Т2000" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения об органах юридического лица</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="УстКапЮЛ" type="Т250" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения о величине уставного капитала</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ПрисутАдрЮЛ" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения о присутствии или отсутствии по адресу (месту нахождения) юридического лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="0|1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- *************** Выписки из анкеты (досье) клиента – физического лица *************** -->
<xs:complexType name="ВыпискаФЛ">
  <xs:annotation>
    <xs:documentation>Информационная часть Выписки из анкеты (досье) клиента – физического лица</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="ФИОФЛ" type="ФИО">
      <xs:annotation>
        <xs:documentation>Фамилия, имя, отчество</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ИННФЛ">
      <xs:annotation>
        <xs:documentation>ИНН физического лица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{12}|"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ДатаРождФЛ" type="Дата" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Дата рождения</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="МестоРождФЛ" type="МестоРожд" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Место рождения</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ГраждФЛ" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Гражданство</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ПризнДолжЛиц" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Признак принадлежности к должностному лицу</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-8]{1}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ДокУдЛичн" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[1-5]{1}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="СведДокУдЛичн" type="ДокУдост" minOccurs="0">
      <xs:annotation>
        <xs:documentation>
          Сведения о документе, удостоверяющем личность гражданина Российской Федерации,
          иностранного гражданина или лица без гражданства
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СведДокПреб" type="ДокПодтв" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения о документе, подтверждающем право на пребывание (проживание) в Российской Федерации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СведМигрКарт" type="МигрКарт" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения миграционной карты</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>

<!-- *************** Выписки из анкеты (досье) клиента – индивидуального предпринимателя *************** -->
<xs:complexType name="ВыпискаИП">
  <xs:annotation>
    <xs:documentation>Информационная часть Выписки из анкеты (досье) клиента – индивидуального предпринимателя</xs:documentation>
  </xs:annotation>
  <xs:sequence>
    <xs:element name="ФИОИП" type="ФИО">
      <xs:annotation>
        <xs:documentation>Фамилия, имя, отчество</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ИННИП" minOccurs="0">
      <xs:annotation>
        <xs:documentation>ИНН физического лица-индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{12}|"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ДатаРождИП" type="Дата">
      <xs:annotation>
        <xs:documentation>Дата рождения</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="МестоРождИП" type="МестоРожд">
      <xs:annotation>
        <xs:documentation>Место рождения</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ГраждИП">
      <xs:annotation>
        <xs:documentation>Гражданство</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ОГРНИП" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Регистрационный номер (ОГРНИП)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9]{15}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ДатаРег" type="Дата" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Дата государственной регистрации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="НаимРегОрг" type="Т250" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Наименование регистрирующего органа</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="АдрИП" type="Адрес" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Место регистрации индивидуального предпринимателя</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="ПризнДолжЛиц" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Признак принадлежности к должностному лицу</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-8]{1}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="ДокУдЛичн">
      <xs:annotation>
        <xs:documentation>Документ, удостоверяющий личность</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[1-4]{1}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:element>
    <xs:element name="СведДокУдЛичн" type="ДокУдост">
      <xs:annotation>
        <xs:documentation>
          Сведения о документе, удостоверяющем личность гражданина Российской Федерации,
          иностранного гражданина или лица без гражданства
        </xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СведДокПреб" type="ДокПодтв" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения о документе, подтверждающем право на пребывание (проживание) в Российской Федерации</xs:documentation>
      </xs:annotation>
    </xs:element>
    <xs:element name="СведМигрКарт" type="МигрКарт" minOccurs="0">
      <xs:annotation>
        <xs:documentation>Сведения миграционной карты</xs:documentation>
      </xs:annotation>
    </xs:element>
  </xs:sequence>
</xs:complexType>
</xs:schema>