src/main/resources/xsd/fns-flproc-ru-root.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp2 (http://www.altova.com) by SKS (GNIVC FNS RF) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn://x-artefacts-fns-flproc/root/310-68/4.0.2" xmlns:fnst="urn://x-artefacts-fns-flproc/types/4.0.2" targetNamespace="urn://x-artefacts-fns-flproc/root/310-68/4.0.2" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="urn://x-artefacts-fns-flproc/types/4.0.2" schemaLocation="./commons/fns-flproc-types.xsd"/>
	<xs:element name="FLPROCRequest">
		<xs:annotation>
			<xs:documentation>Информация банка о суммах выплаченных физическому лицу процентов по вкладам (остаткам на счетах)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="СведБанк">
					<xs:annotation>
						<xs:documentation>Сведения о банке</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвРеоргЮЛ" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Сведения о реорганизованном (ликвидированном) банке</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="ФормРеорг" use="required">
										<xs:annotation>
											<xs:documentation>Код формы реорганизации (ликвидация)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="fnst:string-1">
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
												<xs:enumeration value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННЮЛ" type="fnst:ИННЮЛТип" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН реорганизованного банка</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КПП" type="fnst:КППТип" use="optional">
										<xs:annotation>
											<xs:documentation>КПП реорганизованного банка</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="НаимБанк" type="fnst:string-1000" use="required">
							<xs:annotation>
								<xs:documentation>Сокращенное наименование банка</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ИНН" type="fnst:ИННЮЛТип" use="required">
							<xs:annotation>
								<xs:documentation>ИНН банка</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КПП" type="fnst:КППТип" use="required">
							<xs:annotation>
								<xs:documentation>КПП банка</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="СведПроц" maxOccurs="10000">
					<xs:annotation>
						<xs:documentation>Сведения о суммах выплаченных физическому лицу процентов по вкладам (остаткам на счетах)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СведФЛ">
								<xs:annotation>
									<xs:documentation>Сведения о физическом лице</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ФИО" type="fnst:ФИОТип">
											<xs:annotation>
												<xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="УдЛичнФЛ" type="fnst:УдЛичнФЛКТип">
											<xs:annotation>
												<xs:documentation>Сведения о документе, удостоверяющем личность </xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Гражд" type="fnst:ОКСМТип" use="required">
										<xs:annotation>
											<xs:documentation>Код страны гражданства</xs:documentation>
											<xs:documentation>Принимает значение цифрового кода в соответствии с Общероссийским классификатором стран мира ОК 025-2001 (ОКСМ)</xs:documentation>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">ОКСМ</xs:appinfo>
											<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Цифровой код</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаРожд" use="required">
										<xs:annotation>
											<xs:documentation>Дата рождения</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:date">
												<xs:minInclusive value="1900-01-01"/>
												<xs:maxInclusive value="2099-12-31"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ИННФЛ" type="fnst:ИННФЛТип" use="optional">
										<xs:annotation>
											<xs:documentation>ИНН физического лица</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="СумПроц" type="fnst:number-17.2" use="required">
										<xs:annotation>
											<xs:documentation>Полученная за налоговый период сумма процентов</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="СумПроцИнд" type="fnst:number-17.2" use="required">
										<xs:annotation>
											<xs:documentation>Полученная за налоговый период сумма процентов по счетам, открытым в качестве индивидуального предпринимателя </xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ПорядНом" type="fnst:number-9" use="required">
							<xs:annotation>
								<xs:documentation>Порядковый номер</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомКорр" type="fnst:string-2" use="required">
							<xs:annotation>
								<xs:documentation>Номер корректировки</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ПрКорр" use="optional">
							<xs:annotation>
								<xs:documentation>Признак корректировки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="fnst:string-1">
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ИдЗапросНО" type="fnst:ИдЗапросТип" use="optional">
							<xs:annotation>
								<xs:documentation>Идентификатор запроса налогового органа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Подписант">
					<xs:annotation>
						<xs:documentation>Сведения о представителе банка</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ФИО" type="fnst:ФИОТип">
								<xs:annotation>
									<xs:documentation>Фамилия, имя, отчество</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Должн" type="fnst:string-120" use="required">
							<xs:annotation>
								<xs:documentation>Должность</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="Тлф" type="fnst:string-20" use="optional">
							<xs:annotation>
								<xs:documentation>Телефон</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ДатаПодп" use="required">
							<xs:annotation>
								<xs:documentation>Дата подписи</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:date">
									<xs:minInclusive value="1900-01-01"/>
									<xs:maxInclusive value="2099-12-31"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный поставщиком</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Период" type="xs:gYear" use="required">
				<xs:annotation>
					<xs:documentation>Налоговый период</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="КодНО" type="fnst:СОНОТип" use="required">
				<xs:annotation>
					<xs:documentation>Код налогового органа</xs:documentation>
					<xs:documentation>Принимает значение кода в соответствии с СОНО</xs:documentation>
					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/link">urn://x-artefacts-smev-gov-ru/link/esnsi2.0</xs:appinfo>
					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/name">СОНО</xs:appinfo>
					<xs:appinfo source="urn://x-artefacts-smev-gov-ru/field">Код</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FLPROCResponse">
		<xs:annotation>
			<xs:documentation>Ответ на информацию банка о суммах выплаченных физическому лицу процентов по вкладам (остаткам на счетах)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="ИдЗапрос" type="fnst:ИдЗапросТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор запроса, сформированный поставщиком</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="КодОбр" use="required">
				<xs:annotation>
					<xs:documentation>Код обработки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="fnst:string-2">
						<xs:enumeration value="10"/>
						<xs:enumeration value="82"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ОписОшиб" type="fnst:string-1000" use="optional">
				<xs:annotation>
					<xs:documentation>Описание ошибок</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
