src/main/resources/xsd/KWT_510.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2011 sp1 (http://www.altova.com) by SAN (FGUP GNIVC FNS Russia) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Квитанция о принятии (непринятии), извещение об ошибках</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Ошибки" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Характеристики ошибок</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attribute name="КодОшибки" use="required">
										<xs:annotation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="018"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
												<xs:pattern value="[0-9]{3}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="НаимОшибки" use="required">
										<xs:annotation>
											<xs:documentation>Наименование ошибки</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="Недопустимое значение реквизита"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="КодРекв" use="optional">
										<xs:annotation>
											<xs:documentation>Код ошибочного элемента (атрибута)</xs:documentation>
											<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="Файл/Документ@НомСооб"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ЗначРекв" use="optional">
										<xs:annotation>
											<xs:documentation>Значение ошибочного элемента (атрибута)</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="1481001714"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="1000"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="GUID"/>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаОбр" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата обработки сообщения банка</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="ИдФайлИсх">
							<xs:annotation>
								<xs:documentation>Идентификатор файла сообщения банка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="512"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="НомСооб">
							<xs:annotation>
								<xs:documentation>Номер сообщения банка</xs:documentation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="0354000013000041"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ТипСооб">
							<xs:annotation>
								<xs:documentation>Тип сообщения банка</xs:documentation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="100"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаСооб" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата сообщения банком сведений в налоговый орган</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КодОбр" use="required">
							<xs:annotation>
								<xs:documentation>Код обработки</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="1"/>
									<xs:enumeration value="0"/>
									<xs:enumeration value="1"/>
									<xs:enumeration value="2"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="РезОбр" use="required">
							<xs:annotation>
								<xs:documentation>Результат обработки</xs:documentation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="Сообщение принято"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="50"/>
									<xs:enumeration value="Сообщение принято"/>
									<xs:enumeration value="Сообщение не принято"/>
									<xs:enumeration value="Сообщение принято с ошибками"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" type="ИдФайлТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="7750001495**77500100120130715000006"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
						<xs:enumeration value="КВИТПРМСЧТ"/>
						<xs:enumeration value="ИЗВОШИБСЧТ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТелОтпр" use="required">
				<xs:annotation>
					<xs:documentation>Телефон отправителя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ДолжнОтпр" use="required">
				<xs:annotation>
					<xs:documentation>Должность отправителя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100" fixed="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ФамОтпр" use="required">
				<xs:annotation>
					<xs:documentation>Фамилия отправителя </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.10"/>
						<xs:enumeration value="7.77"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation>Идентификатор GUID</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1077D0A0-077D-440B-B152-C10FD54E9129"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИдФайлТип">
		<xs:annotation>
			<xs:documentation>Идентификатор файла</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="35"/>
			<xs:pattern value="[0-9]{10}[*]{2}[0-9]{23}"/>
			<xs:pattern value="[0-9]{4}[*]{17}[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
