src/main/resources/xsd/SBC0_513.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!-- edited with XMLSpy v2017 rel. 3 sp1 (x64) (http://www.altova.com) by Altova XMLSpy 2017 Professional XML Editor - Release 3, Concurrent for 20 users (AO GNIVC) -->
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:altova="http://www.altova.com/xml-schema-extensions" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="ФИОПрТип">
		<xs:annotation>
			<xs:documentation>Фамилия, имя, отчество физического лица (с признаком отсутствия)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Фамилия">
					<xs:annotation>
						<xs:documentation>Фамилия</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрФамилия">
					<xs:annotation>
						<xs:documentation>Признак отсутствия фамилии</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Имя">
					<xs:annotation>
						<xs:documentation>Имя</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрИмя">
					<xs:annotation>
						<xs:documentation>Признак отсутствия имени</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:choice>
				<xs:element name="Отчество">
					<xs:annotation>
						<xs:documentation>Отчество</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="60"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ПрОтчество">
					<xs:annotation>
						<xs:documentation>Признак отсутствия отчества</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="1"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Файл">
		<xs:annotation>
			<xs:documentation>Сообщение банка об открытии (закрытии) счета (депозита)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Документ">
					<xs:annotation>
						<xs:documentation>Состав и структура документа</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="СвБанк">
								<xs:annotation>
									<xs:documentation>Сведения о банке (филиале банка)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:complexContent>
										<xs:extension base="СвБанкТип"/>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
							<xs:element name="СвНП">
								<xs:annotation>
									<xs:documentation>Сведения об организации, индивидуальном предпринимателе, нотариусе, занимающемся частной практикой, адвокате, учредившем адвокатский кабинет, управляющем товарище инвестиционного товарищества</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="НПРО" type="НПРОТип">
											<xs:annotation>
												<xs:documentation>Российская организация</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="НПИП">
											<xs:annotation>
												<xs:documentation>Индивидуальный предприниматель, нотариус, занимающийся частной практикой, адвокат, учредивший адвокатский кабинет</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="НПИПТип"/>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
										<xs:element name="НПИО" type="НПИОТип">
											<xs:annotation>
												<xs:documentation>Иностранная организация</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="НЕТИНН" type="НетИННТип">
											<xs:annotation>
												<xs:documentation>Лицо, сведения об ИНН которого отсутствуют</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:choice>
									<xs:attribute name="КодЛица" use="required">
										<xs:annotation>
											<xs:documentation>Код лица</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="1"/>
												<xs:pattern value="[1-6]{1}"/>
												<xs:enumeration value="1"/>
												<xs:enumeration value="2"/>
												<xs:enumeration value="3"/>
												<xs:enumeration value="4"/>
												<xs:enumeration value="5"/>
												<xs:enumeration value="6"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="СвидНУ" type="СвидТип">
										<xs:annotation>
											<xs:documentation>Свидетельство о постановке на учет в налоговом органе / свидетельство об учете в налоговом органе</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="22,18734451"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="СвСчет">
								<xs:annotation>
									<xs:documentation>Сведения о счете (депозите)</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element name="Открыт">
											<xs:complexType>
												<xs:attribute name="КодСостСч" use="required">
													<xs:annotation>
														<xs:documentation>Код состояния счета (депозита)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="НомерДог" use="required">
													<xs:annotation>
														<xs:documentation>Номер договора</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодСостДог" use="required">
													<xs:annotation>
														<xs:documentation>Код состояния договора</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаЗаклДог" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата заключения договора </xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Закрыт">
											<xs:complexType>
												<xs:attribute name="КодСостСч" use="required">
													<xs:annotation>
														<xs:documentation>Код состояния счета (депозита)</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаЗакрСч" type="ДатаТип" use="required">
													<xs:annotation>
														<xs:documentation>Дата закрытия счета (депозита)</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute name="НомерДог" use="optional">
													<xs:annotation>
														<xs:documentation>Номер договора</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="КодСостДог" use="required">
													<xs:annotation>
														<xs:documentation>Код состояния договора</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:length value="1"/>
															<xs:enumeration value="0"/>
															<xs:enumeration value="1"/>
															<xs:enumeration value="2"/>
															<xs:enumeration value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="ДатаРастДог" type="ДатаТип">
													<xs:annotation>
														<xs:documentation>Дата расторжения договора</xs:documentation>
													</xs:annotation>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:choice>
									<xs:attribute name="НомСч" type="НомСчТип" use="required">
										<xs:annotation>
											<xs:documentation>Номер счета (депозита)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ДатаОткрСч" type="ДатаТип" use="required">
										<xs:annotation>
											<xs:documentation>Дата открытия счета (депозита)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="КодСч" use="required">
										<xs:annotation>
											<xs:documentation>Код вида счета (депозита)</xs:documentation>
											<xs:documentation>
Дата в формате ДД.ММ.ГГГГ</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="0001"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="4"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ВалСч" use="required">
										<xs:annotation>
											<xs:documentation>Код валюты счета (депозита)</xs:documentation>
											<xs:appinfo>
												<altova:exampleValues>
													<altova:example value="810"/>
													<altova:example value="A98"/>
												</altova:exampleValues>
											</xs:appinfo>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:length value="3"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ИдДок" type="GUID" use="required">
							<xs:annotation>
								<xs:documentation>Идентификатор документа</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="КНД" use="required">
							<xs:annotation>
								<xs:documentation>Код формы</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="КНДТип">
									<xs:enumeration value="1114301"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="КодНОБ" type="ИФНСТип" use="required">
							<xs:annotation>
								<xs:documentation>Код налогового органа по месту нахождения банка (филиала банка)</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="НомСооб" use="required">
							<xs:annotation>
								<xs:documentation>Номер сообщения</xs:documentation>
								<xs:appinfo>
									<altova:exampleValues>
										<altova:example value="148100121400000123"/>
									</altova:exampleValues>
								</xs:appinfo>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="18"/>
									<xs:pattern value="[0-9]{18}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ТипСооб" use="required">
							<xs:annotation>
								<xs:documentation>Тип сообщения</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="3"/>
									<xs:pattern value="[0-9]{3}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДолжнПрБ" use="required">
							<xs:annotation>
								<xs:documentation>Должность представителя банка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100" fixed="false"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ФамПрБ" use="required">
							<xs:annotation>
								<xs:documentation>Фамилия и инициалы представителя банка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="60"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ТелБанка" use="required">
							<xs:annotation>
								<xs:documentation>Телефон банка</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="ДатаСооб" type="ДатаТип" use="required">
							<xs:annotation>
								<xs:documentation>Дата сообщения</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="ИдФайл" type="ИдФайлТип" use="required">
				<xs:annotation>
					<xs:documentation>Идентификатор файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ТипИнф" use="required">
				<xs:annotation>
					<xs:documentation>Тип информации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="10"/>
						<xs:enumeration value="СООБЩБАНКА"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсПрог" use="required">
				<xs:annotation>
					<xs:documentation>Версия передающей программы</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ТелОтпр" use="required">
				<xs:annotation>
					<xs:documentation>Телефон отправителя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ДолжнОтпр" use="required">
				<xs:annotation>
					<xs:documentation>Должность отправителя</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="100" fixed="false"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ФамОтпр" use="required">
				<xs:annotation>
					<xs:documentation>Фамилия отправителя </xs:documentation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value="Иванов"/>
						</altova:exampleValues>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="КолДок" use="required">
				<xs:annotation>
					<xs:documentation>Количество документов</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:totalDigits value="1"/>
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ВерсФорм" use="required">
				<xs:annotation>
					<xs:documentation>Версия формата</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="5"/>
						<xs:enumeration value="5.13"/>
						<xs:enumeration value="7.77"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="НПРОТип">
		<xs:annotation>
			<xs:documentation>Налогоплательщик – организация</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ИННРО" type="ИННОргТип" use="required">
			<xs:annotation>
				<xs:documentation>ИНН</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КПП" type="КППТип" use="optional">
			<xs:annotation>
				<xs:documentation>КПП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ОГРН" type="ОГРНТип" use="optional">
			<xs:annotation>
				<xs:documentation>ОГРН</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="НаимОрг" use="required">
			<xs:annotation>
				<xs:documentation>Полное наименование </xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value='Закрытое акционерное общество "Дезстанция Ромашка"'/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НПИПТип">
		<xs:annotation>
			<xs:documentation>Индивидуальный предприниматель, нотариус, адвокат</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ФИОИП" type="ФИОПрТип">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="ИННИП" type="ИННФЛТип" use="required">
			<xs:annotation>
				<xs:documentation>ИНН</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ОГРНИП" type="ОГРНИПТип" use="optional">
			<xs:annotation>
				<xs:documentation>ОГРНИП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="НПИОТип">
		<xs:annotation>
			<xs:documentation>Иностранная организация</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="ИННИО" type="ИННОргТип">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="КИО" type="КИОТип">
				<xs:annotation>
					<xs:documentation>Код иностранной организации</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="НаимОрг" use="required">
			<xs:annotation>
				<xs:documentation>Полное наименование </xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="1000"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ОГРН" use="optional">
			<xs:annotation>
				<xs:documentation>ОГРН</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="ОГРНТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="КПП" type="КППТип" use="optional">
			<xs:annotation>
				<xs:documentation>КПП</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="СвБанкТип">
		<xs:annotation>
			<xs:documentation>Сведения о банке (филиале банка)</xs:documentation>
		</xs:annotation>
		<xs:attribute name="РегНом" use="required">
			<xs:annotation>
				<xs:documentation>Регистрационный номер банка по КГРКО</xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="12"/>
						<altova:example value="0"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НомФ" use="required">
			<xs:annotation>
				<xs:documentation>Порядковый номер филиала банка</xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="12"/>
						<altova:example value="0"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="БИК" use="required">
			<xs:annotation>
				<xs:documentation>БИК банка (филиала банка), используемый при расчетах</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="БИКТип"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="НаимКО" use="required">
			<xs:annotation>
				<xs:documentation>Сокращенное наименование банка (филиала банка)</xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="Сбербанк России, отделение N 7970 ВЕРНАДСКОЕ"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="1"/>
					<xs:maxLength value="250"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ИННКО" type="ИННОргТип" use="required">
			<xs:annotation>
				<xs:documentation>ИНН банка</xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="7750001495"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="КППКО" type="КППТип" use="required">
			<xs:annotation>
				<xs:documentation>КПП банка (филиала банка)</xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="775001001"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ОГРНКО" type="ОГРНТип" use="required">
			<xs:annotation>
				<xs:documentation>ОГРН банка</xs:documentation>
				<xs:appinfo>
					<altova:exampleValues>
						<altova:example value="1045700167116"/>
					</altova:exampleValues>
				</xs:appinfo>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ИННФЛТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="304568768441"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИННОргТип">
		<xs:annotation>
			<xs:documentation>Идентификационный номер налогоплательщика - юридического лица</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="2300698346"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="НетИННТип">
		<xs:annotation>
			<xs:documentation>Лицо без ИНН</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="НаимОрг">
				<xs:annotation>
					<xs:appinfo>
						<altova:exampleValues>
							<altova:example value='Закрытое акционерное общество "Дезстанция Ромашка"'/>
						</altova:exampleValues>
					</xs:appinfo>
					<xs:documentation>Полное наименование организации </xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ФИОИП" type="ФИОПрТип">
				<xs:annotation>
					<xs:documentation>Фамилия, имя, отчество </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="ОГРН" use="optional">
			<xs:annotation>
				<xs:documentation>ОГРН организации или индивидуального предпринимателя</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:minLength value="13"/>
					<xs:maxLength value="15"/>
					<xs:pattern value="[0-9]{13,15}"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="КППТип">
		<xs:annotation>
			<xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="301101001"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КИОТип">
		<xs:annotation>
			<xs:documentation>Код иностранной организации</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="02164"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="5"/>
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ССРФТип">
		<xs:annotation>
			<xs:documentation>Код из Справочника субъекта Российской Федерации </xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="02"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="2"/>
			<xs:pattern value="[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНТип">
		<xs:annotation>
			<xs:documentation>Основной  государственный регистрационный номер юридического лица  </xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1027700132195"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="13"/>
			<xs:pattern value="[0-9]{13}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ОГРНИПТип">
		<xs:annotation>
			<xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="358589560980908"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="15"/>
			<xs:pattern value="[0-9]{15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ДатаТип">
		<xs:annotation>
			<xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="16.07.2013"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="10"/>
			<xs:pattern value="(0[1-9]{1}|[1-2]{1}[0-9]{1}|3[0-1]{1})\.(0[1-9]{1}|1[0-2]{1})\.(1[0-9]{3}|20[0-9]{2})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GUID">
		<xs:annotation>
			<xs:documentation>Идентификатор GUID</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1077D0A0-077D-440B-B152-C10FD54E9129"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="36"/>
			<xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="БИКТип">
		<xs:annotation>
			<xs:documentation>БИК по справочнику БИК РФ</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="044525823"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="9"/>
			<xs:pattern value="04[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="КНДТип">
		<xs:annotation>
			<xs:documentation>Код из Классификатора налоговой документации</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="1114301"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="7"/>
			<xs:pattern value="[0-9]{7}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИдФайлТип">
		<xs:annotation>
			<xs:documentation>Идентификатор файла</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="7750001495**77500100115040700000006"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="35"/>
			<xs:pattern value="[0-9]{10}[*]{2}[0-9]{23}"/>
			<xs:pattern value="[0-9]{4}[*]{17}[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="НомСчТип">
		<xs:annotation>
			<xs:documentation>Номер счета, вклада (депозита)</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="40702810287890980798"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="СвидТип">
		<xs:annotation>
			<xs:documentation>Свидетельство налогового органа</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="23,145678342"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="10"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="\d{2},\d{7,9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ИФНСТип">
		<xs:annotation>
			<xs:documentation>Код ИФНС из Классификатора системы обозначений налоговых органов</xs:documentation>
			<xs:appinfo>
				<altova:exampleValues>
					<altova:example value="0512"/>
					<altova:example value="0400"/>
				</altova:exampleValues>
			</xs:appinfo>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="4"/>
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
