src/main/resources/xsd/fns/to-fns/6952U_BOS_402.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-―’≈Χά δκ­ τνπλϊ νρςερμνώρη ‘ύικ
―Ο≈Ά≈–»–Έ¬άΆά XSLT-œ–≈ΈΝ–ά«Έ¬άΆ»≈Χ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-6952U:spr4:v4.02..3" xmlns="urn:cbr-6952U:spr4:v4.02..3"><xs:element name="‘ύικ" type="‘ύικ" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="‘ύικ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="―œ–ΈΝΈ―“ά“" type="‘ύικ―œ–ΈΝΈ―“ά“" minOccurs="1" maxOccurs="1"/>
			<xs:element name="œπεδΝύμξύ" type="‘ύικœπεδΝύμξύ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»δί―" type="GUIDρηο" use="required"/>
		<xs:attribute name="“ηο»μτ" type="“ηο»μτ“ηο-κνξ" use="required"/>
		<xs:attribute name="¬επώœπνψ" type="¬επώœπνψ“ηο-κνξ" use="required"/>
		<xs:attribute name="“εκΈροπ" type="―ρπνξύ20" use="required"/>
		<xs:attribute name="ΡνκφμΈροπ" type="―ρπνξύ100" use="required"/>
		<xs:attribute name="‘ύλΈροπ" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="¬επώ‘νπλ" type="¬επώ‘νπλ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="―βεδ«ύοπ–εχ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδ«ύοπ–εχ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="―βεδΝύμξœΝ–" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδΝύμξœΝ–" minOccurs="1" maxOccurs="1"/>
			<xs:element name=" κηεμρΝύμξ" type="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ" minOccurs="1" maxOccurs="1"/>
			<xs:element name="―βεδεμη­Έώρ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Άνλ―οπύβ" type="Άνλ―οπύβ“ηο-κνξ" use="required"/>
		<xs:attribute name="Ρύρύ―οπύβ" type="Ρύρύ" use="required"/>
		<xs:attribute name="“ηο―οπύβ" type="“ηο―οπύβ“ηο-κνξ" use="required"/>
		<xs:attribute name="Άύηλœνδρβ" type="―ρπνξύ100" use="optional"/>
		<xs:attribute name="¬ηδ―οπ" type="¬ηδ―οπύβ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδ«ύοπ–εχ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="―βεδ«ύοπ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδ«ύοπ–εχ―βεδ«ύοπ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="―βεδ–εχ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδ«ύοπ–εχ―βεδ–εχ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδ«ύοπ–εχ―βεδ«ύοπ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Άνλ«ύοπ" type="―ρπνξύ20" use="required"/>
		<xs:attribute name="Ρύρύ«ύοπ" type="Ρύρύ" use="required"/>
		<xs:attribute name=" νδΆΈ«ύοπ" type=" νδΆΈ“ηο-κνξ" use="required"/>
		<xs:attribute name="»μδ«ύοπ" type="»μδ«ύοπ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδ«ύοπ–εχ―βεδ–εχ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Άνλ–εχ" type="―ρπνξύ20" use="required"/>
		<xs:attribute name="Ρύρύ–εχ" type="Ρύρύ" use="required"/>
		<xs:attribute name="”»Ρ”β" type="”»Ρ”β“ηο-κνξ" use="optional"/>
		<xs:attribute name=" νδΆΈ–εχ" type=" νδΆΈ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδΝύμξœΝ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="―βεδΝύμξ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδΝύμξœΝ–―βεδΝύμξ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="―βεδœΝ–" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδΝύμξœΝ–―βεδœΝ–" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδΝύμξœΝ–―βεδΝύμξ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="–εψΆνλ" type="–εψΆνλ“ηο-κνξ" use="required"/>
		<xs:attribute name="Άνλ‘ηκ" type="–εψΆνλ“ηο-κνξ" use="required"/>
		<xs:attribute name="Ν» " type="Ν» ρηο" use="required"/>
		<xs:attribute name="ΆύηλΝύμξ" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="»ΆΆΝύμξ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœΝύμξ" type=" œœ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδΝύμξœΝ–―βεδœΝ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ν» " type="Ν» ρηο" use="required"/>
		<xs:attribute name="Άύηλ”Ν–" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="»ΆΆΝ–" type="»ΆΆΝ–“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ”Ν–" type=" œœ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name=" κηεμρόΥ" type="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρόΥ" minOccurs="1" maxOccurs="1"/>
				<xs:element name=" κηεμρ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ»œ" minOccurs="1" maxOccurs="1"/>
				<xs:element name=" κηεμρ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ‘Υ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρόΥ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ΆΆόΥ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ" type=" œœ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΆύηλόΥ" type="Άύηλ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ»œ‘»Έ»œ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ»œ" type="»ΆΆ‘Υ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ»œ‘»Έ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ‘Υ‘»Έ‘Υ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ‘Υ" type="»ΆΆ‘Υ“ηο-κνξ" use="optional"/>
		<xs:attribute name="Ρύρύ–νφδ" type="Ρύρύ" use="optional"/>
		<xs:attribute name="Χεώρν–νφδ" type="Χεώρν–νφ“ηο-κνξ" use="optional"/>
		<xs:attribute name=" νδΡνξ" type=" νδΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="―επΆνλΡνξ" type="―επΆνλΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΡύρύΡνξ" type="Ρύρύ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“ κηεμρΝύμξ κηεμρ‘Υ‘»Έ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="―ςΡύρύœεπηνδ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςΡύρύœεπηνδ" minOccurs="0" maxOccurs="1"/>
			<xs:element name="―βεδΝύμξœΝ–" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―βεδΝύμξœΝ–" minOccurs="1" maxOccurs="1"/>
			<xs:element name="―ςερ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="―ςερΈρώσρ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςΡύρύœεπηνδ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ρειώρœν―νώρ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςΡύρύœεπηνδΡειώρœν―νώρ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»λœεπηνδ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςΡύρύœεπηνδ»λœεπηνδ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςΡύρύœεπηνδΡειώρœν―νώρ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ρύρύ" type="Ρύρύ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςΡύρύœεπηνδ»λœεπηνδ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Άύςœεπηνδύ" type="Ρύρύ" use="required"/>
		<xs:attribute name="Έξνμœεπηνδύ" type="Ρύρύ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―βεδΝύμξœΝ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="―βεδΝύμξ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―βεδΝύμξœΝ–―βεδΝύμξ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="―βεδœΝ–" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―βεδΝύμξœΝ–―βεδœΝ–" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―βεδΝύμξœΝ–―βεδΝύμξ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="–εψΆνλ" type="–εψΆνλ“ηο-κνξ" use="required"/>
		<xs:attribute name="Άνλ‘ηκ" type="–εψΆνλ“ηο-κνξ" use="required"/>
		<xs:attribute name="Ν» " type="Ν» ρηο" use="required"/>
		<xs:attribute name="ΆύηλΝύμξ" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="»ΆΆΝύμξ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœΝύμξ" type=" œœ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―βεδΝύμξœΝ–―βεδœΝ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ν» " type="Ν» ρηο" use="required"/>
		<xs:attribute name="Άύηλ”Ν–" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="»ΆΆΝ–" type="»ΆΆΝ–“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ”Ν–" type=" œœ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="¬ύκΰρύ―ς" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬ύκΰρύ―ς" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="¬ηδ―ς" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬ηδ―ς" minOccurs="1" maxOccurs="1"/>
			<xs:element name="¬κύδεκεω―ς" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Ρεονμεμρ―ς" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Νεμετ―ς" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="»γλ―ςερύ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="―βΈώρύρ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ―βΈώρύρ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Άνλ―ς" type="Άνλ―ς“ηο-κνξ" use="required"/>
		<xs:attribute name="ΡύρύΈρξπ" type="Ρύρύ" use="required"/>
		<xs:attribute name="ΡύρύΈξνμ" type="Ρύρύ" use="optional"/>
		<xs:attribute name="Ρύρύ«ύξπ" type="Ρύρύ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬ύκΰρύ―ς" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name=" νδ¬ύκ" type=" νδ¬ύκ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬ηδ―ς" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name=" νδ¬ηδ―ς" type=" νδ¬ηδ―ς“ηο-κνξ" use="required"/>
		<xs:attribute name="¬ηδ»μ―ς" type="¬ηδ―ς“ηο-κνξ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="¬κ”ξύγΥηων" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς¬κ”ξύγΥηων" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»μνε¬κύδεκεω" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς¬κ”ξύγΥηων" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”ξύγΥηων" type="”ξύγΥηων“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="¬κύδεκεωόΥ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεωόΥ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="¬κύδεκεω»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="¬κύδεκεω‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεωόΥ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ΆΆόΥ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ" type=" œœ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΆύηλόΥ" type="Άύηλ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ‘»Έ»œ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ»œ" type="»ΆΆ‘Υ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ‘»Έ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ‘»Έ‘Υ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ‘Υ" type="»ΆΆ‘Υ“ηο-κνξ" use="optional"/>
		<xs:attribute name="Ρύρύ–νφδ" type="Ρύρύ" use="optional"/>
		<xs:attribute name="Χεώρν–νφδ" type="Χεώρν–νφ“ηο-κνξ" use="optional"/>
		<xs:attribute name=" νδΡνξ" type=" νδΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="―επΆνλΡνξ" type="―επΆνλΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΡύρύΡνξ" type="Ρύρύ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ‘»Έ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ρεο”ξύγΥηων" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ςΡεο”ξύγΥηων" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»μνεΡεονμεμρ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρ" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ςΡεο”ξύγΥηων" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”ξύγΥηων" type="”ξύγΥηων“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ΡεονμεμρόΥ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρόΥ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Ρεονμεμρ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ»œ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Ρεονμεμρ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ‘Υ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρόΥ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ΆΆόΥ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ" type=" œœ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΆύηλόΥ" type="Άύηλ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ»œ‘»Έ»œ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ»œ" type="»ΆΆ‘Υ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ»œ‘»Έ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ‘Υ‘»Έ‘Υ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ‘Υ" type="»ΆΆ‘Υ“ηο-κνξ" use="optional"/>
		<xs:attribute name="Ρύρύ–νφδ" type="Ρύρύ" use="optional"/>
		<xs:attribute name="Χεώρν–νφδ" type="Χεώρν–νφ“ηο-κνξ" use="optional"/>
		<xs:attribute name=" νδΡνξ" type=" νδΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="―επΆνλΡνξ" type="―επΆνλΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΡύρύΡνξ" type="Ρύρύ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΡεονμεμρ―ς»μνεΡεονμεμρΡεονμεμρ‘Υ‘»Έ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Νεμ”ξύγΥηων" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ςΝεμ”ξύγΥηων" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»μνεΝεμετ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ςΝεμ”ξύγΥηων" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”ξύγΥηων" type="”ξύγΥηων“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ΝεμετόΥ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετόΥ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Νεμετ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ»œ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Νεμετ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ΝεμετόΥημν" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετόΥημν" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Νεμετ‘Υημν" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υημν" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετόΥ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ΆΆόΥ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ" type=" œœ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΆύηλόΥ" type="Άύηλ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ»œ‘»Έ»œ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ»œ" type="»ΆΆ‘Υ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ»œ‘»Έ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υ‘»Έ‘Υ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ‘Υ" type="»ΆΆ‘Υ“ηο-κνξ" use="optional"/>
		<xs:attribute name="Ρύρύ–νφδ" type="Ρύρύ" use="optional"/>
		<xs:attribute name="Χεώρν–νφδ" type="Χεώρν–νφ“ηο-κνξ" use="optional"/>
		<xs:attribute name=" νδΡνξ" type=" νδΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="―επΆνλΡνξ" type="―επΆνλΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΡύρύΡνξ" type="Ρύρύ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υ‘»Έ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετόΥημν" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name=" νδ―ρπύμϊ" type="Έ ―Χ““ηο-κνξ" use="required"/>
		<xs:attribute name="ΆύηλόΥ" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="άδπεώ»μν" type="―ρπνξύ255" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υημν" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υημν‘»Έ‘Υ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name=" νδ―ρπύμϊ" type="Έ ―Χ““ηο-κνξ" use="required"/>
		<xs:attribute name="άδπεώ»μν" type="―ρπνξύ255" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΝεμετ―ς»μνεΝεμετΝεμετ‘Υημν‘»Έ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="―βεδΝύμξœΝ–»γλ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ―βεδΝύμξœΝ–»γλ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="―ςερΡν»γλ" type="Άνλ―ς“ηο-κνξ" use="required"/>
		<xs:attribute name="―ςερ»γλεμ" type="Άνλ―ς“ηο-κνξ" use="required"/>
		<xs:attribute name="Ρύρύ»γλ" type="Ρύρύ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ―βεδΝύμξœΝ–»γλ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="―βεδΝύμξ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ―βεδΝύμξœΝ–»γλ―βεδΝύμξ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="―βεδœΝ–" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ―βεδΝύμξœΝ–»γλ―βεδœΝ–" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ―βεδΝύμξœΝ–»γλ―βεδΝύμξ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="–εψΆνλ" type="–εψΆνλ“ηο-κνξ" use="required"/>
		<xs:attribute name="Άνλ‘ηκ" type="–εψΆνλ“ηο-κνξ" use="required"/>
		<xs:attribute name="Ν» " type="Ν» ρηο" use="required"/>
		<xs:attribute name="ΆύηλΝύμξ" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="»ΆΆΝύμξ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœΝύμξ" type=" œœ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ»γλ―ςερύ―βεδΝύμξœΝ–»γλ―βεδœΝ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ν» " type="Ν» ρηο" use="required"/>
		<xs:attribute name="Άύηλ”Ν–" type="Άύηλ“ηο-κνξ" use="required"/>
		<xs:attribute name="»ΆΆΝ–" type="»ΆΆΝ–“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ”Ν–" type=" œœ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ―βΈώρύρ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Έώρύρ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ―βΈώρύρΈώρύρ" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="Άερ”ςερύ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ―βΈώρύρΆερ”ςερύ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ―βΈώρύρΈώρύρ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ΡύρύΈώρ" type="Ρύρύ" use="required"/>
		<xs:attribute name="Έώρύρνξ" type="Έώρύρνξ“ηο-κνξ" use="required"/>
		<xs:attribute name=" νδ¬ύκΈώρ" type=" νδ¬ύκ“ηο-κνξ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερ―βΈώρύρΆερ”ςερύ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Άερ”ςερύΈώρ" type="Άερ”ςερύ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="¬κύδεκεω―ς" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Άνλ―ς" type="Άνλ―ς“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="¬κ”ξύγΥηων" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς¬κ”ξύγΥηων" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»μνε¬κύδεκεω" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς¬κ”ξύγΥηων" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”ξύγΥηων" type="”ξύγΥηων“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="¬κύδεκεωόΥ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεωόΥ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="¬κύδεκεω»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="¬κύδεκεω‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεωόΥ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ΆΆόΥ" type="»ΆΆόΥ“ηο-κνξ" use="required"/>
		<xs:attribute name=" œœ" type=" œœ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΆύηλόΥ" type="Άύηλ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ»œ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ‘»Έ»œ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ»œ" type="»ΆΆ‘Υ“ηο-κνξ" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω»œ‘»Έ»œ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ‘Υ" type="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ‘»Έ‘Υ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ΆΆ‘Υ" type="»ΆΆ‘Υ“ηο-κνξ" use="optional"/>
		<xs:attribute name="Ρύρύ–νφδ" type="Ρύρύ" use="optional"/>
		<xs:attribute name="Χεώρν–νφδ" type="Χεώρν–νφ“ηο-κνξ" use="optional"/>
		<xs:attribute name=" νδΡνξ" type=" νδΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="―επΆνλΡνξ" type="―επΆνλΡνξ“ηο-κνξ" use="required"/>
		<xs:attribute name="ΡύρύΡνξ" type="Ρύρύ" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικ―œ–ΈΝΈ―“ά“―βεδεμη­Έώρ―ςερΈρώσρ¬κύδεκεω―ς»μνε¬κύδεκεω¬κύδεκεω‘Υ‘»Έ‘Υ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘ύικœπεδΝύμξύ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»Έ" type="‘ύικœπεδΝύμξύ‘»Έ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Ρνκφμνώρϋ" type="―ρπνξύ100" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘ύικœπεδΝύμξύ‘»Έ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘ύληκη­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="»λ­" type="―ρπνξύ60" use="required"/>
		<xs:attribute name="Έρςεώρβν" type="―ρπνξύ60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="Άνλ―οπύβ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="1"/><xs:«μύςεμηε“ηού «μύς“ηού="123"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="–εψΆνλ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="0123"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" νδΆΈ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="4320"/><xs:«μύςεμηε“ηού «μύς“ηού="0000"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»ΆΆΝ–“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="7702235133"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="7702235133"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»ΆΆόΥ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="1234567890"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="5"/><xs:maxLength value="10"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/><xs:pattern value="\d{5}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»ΆΆ‘Υ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="771123456789"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="12"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" œœ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="616301001"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="9"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Άνλ―ς“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="1..20"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬ηδ―ς“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="1..25"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" νδ¬ηδ―ς“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="0100"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/><xs:pattern value="\d{4}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" νδ¬ύκ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="810"/><xs:«μύςεμηε“ηού «μύς“ηού="A98"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" νδΡνξ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="21"/><xs:«μύςεμηε“ηού «μύς“ηού="03"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬ηδ―οπύβ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="2"/><xs:«μύςεμηε“ηού «μύς“ηού="4"/><xs:«μύςεμηε“ηού «μύς“ηού="7"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:pattern value="[1-8]{1}"/><xs:enumeration value="2"/><xs:enumeration value="4"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="“ηο―οπύβ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="1"/><xs:«μύςεμηε“ηού «μύς“ηού="2"/><xs:«μύςεμηε“ηού «μύς“ηού="3"/><xs:«μύςεμηε“ηού «μύς“ηού="4"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:enumeration value="1"/><xs:enumeration value="2"/><xs:enumeration value="3"/><xs:enumeration value="4"/><xs:enumeration value="5"/><xs:enumeration value="6"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="―επΆνλΡνξ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="4511665544"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="25"/><xs:minLength value="1"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Άύηλ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="œάΈ ¬νκμύ"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Χεώρν–νφ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="254"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Έώρύρνξ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="987654321.78"/><xs:«μύςεμηε“ηού «μύς“ηού="12378.00"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="20"/><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬επώ‘νπλ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="4.02"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.02"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»μδ«ύοπ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="3216549870123654789753"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="22"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬επώœπνψ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Άερ”ςερύ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="σςερ ώπεδώρβ γύοπύχηβύελνψν κηωύ αύμξνλ (τηκηύκνλ αύμξύ) με βεδερώ­"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="67"/><xs:enumeration value="σςερ ώπεδώρβ γύοπύχηβύελνψν κηωύ αύμξνλ (τηκηύκνλ αύμξύ) με βεδερώ­"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="”ξύγΥηων“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="ώςερ μύγβύμμνψν κηωύ"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="20"/><xs:enumeration value="ώςερ μύγβύμμνψν κηωύ"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="“ηο»μτ“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="―œ–ΈΝΈ―“ά“"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="―œ–ΈΝΈ―“ά“"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="”»Ρ”β“ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Έ ―Χ““ηο-κνξ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ρύρύ" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="2014-11-02"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="―ρπνξύ20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="0..20 ώηλβνκνβ"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="―ρπνξύ60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="0..60 ώηλβνκνβ"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="―ρπνξύ100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="0..100 ώηλβνκνβ"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="―ρπνξύ255" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="0..255 ώηλβνκνβ"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="255"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ν» ρηο" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="040125003"/><xs:«μύςεμηε“ηού «μύς“ηού="123456789"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{9}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDρηο" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:œπηλεπϊ«μύςεμηι><xs:«μύςεμηε“ηού «μύς“ηού="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:«μύςεμηε“ηού «μύς“ηού="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:œπηλεπϊ«μύςεμηι></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
