src/main/resources/xsd/fns/to-fns/6952U_BNS_402.xsd

<?xml version="1.0" encoding="windows-1251"?>
<!--
******************************************************************
XML-—’≈ћј дл€ формы отчетности ‘айл
—√≈Ќ≈–»–ќ¬јЌј XSLT-ѕ–≈ќЅ–ј«ќ¬јЌ»≈ћ GenSchema.xsl
******************************************************************-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:cbr-6952U:spr4:v4.02..3" xmlns="urn:cbr-6952U:spr4:v4.02..3"><xs:element name="‘айл" type="‘айл" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
	<xs:complexType name="‘айл" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="—ѕ–ЅЌЌјЋ»„" type="‘айл—ѕ–ЅЌЌјЋ»„" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ѕредЅанка" type="‘айлѕредЅанка" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»дЁ—" type="GUIDтип" use="required"/>
		<xs:attribute name="“ип»нф" type="“ип»нф“ип-лок" use="required"/>
		<xs:attribute name="¬ерсѕрог" type="¬ерсѕрог“ип-лок" use="required"/>
		<xs:attribute name="“елќтпр" type="—трока20" use="required"/>
		<xs:attribute name="ƒолжнќтпр" type="—трока100" use="required"/>
		<xs:attribute name="‘амќтпр" type="—трока60" use="required"/>
		<xs:attribute name="¬ерс‘орм" type="¬ерс‘орм“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="—вед«апр" type="‘айл—ѕ–ЅЌЌјЋ»„—вед«апр" minOccurs="1" maxOccurs="1"/>
			<xs:element name="—ведЅанкѕЅ–" type="‘айл—ѕ–ЅЌЌјЋ»„—ведЅанкѕЅ–" minOccurs="1" maxOccurs="1"/>
			<xs:element name=" лиентЅанк" type="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк" minOccurs="1" maxOccurs="1"/>
			<xs:element name="—вед—чет" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="Ќом—прав" type="Ќом—прав“ип-лок" use="required"/>
		<xs:attribute name="ƒата—прав" type="ƒата" use="required"/>
		<xs:attribute name="“ип—прав" type="“ип—прав“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед«апр" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ќом«апр" type="—трока20" use="required"/>
		<xs:attribute name="ƒата«апр" type="ƒата" use="required"/>
		<xs:attribute name=" одЌќ" type=" одЌќ“ип-лок" use="required"/>
		<xs:attribute name="»нд«апр" type="»нд«апр“ип-лок" use="required"/>
		<xs:attribute name="Ќаимѕодтв" type="—трока100" use="optional"/>
		<xs:attribute name="¬ид—пр" type="¬ид—прав“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—ведЅанкѕЅ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="—ведЅанк" type="‘айл—ѕ–ЅЌЌјЋ»„—ведЅанкѕЅ–—ведЅанк" minOccurs="1" maxOccurs="1"/>
				<xs:element name="—ведѕЅ–" type="‘айл—ѕ–ЅЌЌјЋ»„—ведЅанкѕЅ–—ведѕЅ–" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—ведЅанкѕЅ–—ведЅанк" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="–егЌом" type="–егЌом“ип-лок" use="required"/>
		<xs:attribute name="Ќом‘ил" type="–егЌом“ип-лок" use="required"/>
		<xs:attribute name="Ѕ» " type="Ѕ» тип" use="required"/>
		<xs:attribute name="ЌаимЅанк" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="»ЌЌЅанк" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕЅанк" type=" ѕѕ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—ведЅанкѕЅ–—ведѕЅ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ѕ» " type="Ѕ» тип" use="required"/>
		<xs:attribute name="Ќаим”Ѕ–" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="»ЌЌЅ–" type="»ЌЌЅ–“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ”Ѕ–" type=" ѕѕ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name=" лиентёЋ" type="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиентёЋ" minOccurs="1" maxOccurs="1"/>
				<xs:element name=" лиент»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент»ѕ" minOccurs="1" maxOccurs="1"/>
				<xs:element name=" лиент‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент‘Ћ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиентёЋ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ" type=" ѕѕ“ип-лок" use="required"/>
		<xs:attribute name="ЌаимёЋ" type="Ќаим“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент»ѕ‘»ќ»ѕ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ»ѕ" type="»ЌЌ‘Ћ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент»ѕ‘»ќ»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент‘Ћ‘»ќ‘Ћ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип-лок" use="optional"/>
		<xs:attribute name="ƒата–ожд" type="ƒата" use="optional"/>
		<xs:attribute name="ћесто–ожд" type="ћесто–ож“ип-лок" use="optional"/>
		<xs:attribute name=" одƒок" type=" одƒок“ип-лок" use="required"/>
		<xs:attribute name="—ерЌомƒок" type="—ерЌомƒок“ип-лок" use="required"/>
		<xs:attribute name="ƒатаƒок" type="ƒата" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„ лиентЅанк лиент‘Ћ‘»ќ‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="—чƒатаѕериод" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чƒатаѕериод" minOccurs="1" maxOccurs="1"/>
			<xs:element name="—ведЅанкѕЅ–" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—ведЅанкѕЅ–" minOccurs="1" maxOccurs="1"/>
			<xs:element name="—чет" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чƒатаѕериод" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ƒейстѕо—ост" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чƒатаѕериодƒейстѕо—ост" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»мѕериод" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чƒатаѕериод»мѕериод" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чƒатаѕериодƒейстѕо—ост" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="ƒата" type="ƒата" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чƒатаѕериод»мѕериод" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ќачѕериода" type="ƒата" use="required"/>
		<xs:attribute name="ќконѕериода" type="ƒата" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—ведЅанкѕЅ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="—ведЅанк" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—ведЅанкѕЅ–—ведЅанк" minOccurs="1" maxOccurs="1"/>
				<xs:element name="—ведѕЅ–" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—ведЅанкѕЅ–—ведѕЅ–" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—ведЅанкѕЅ–—ведЅанк" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="–егЌом" type="–егЌом“ип-лок" use="required"/>
		<xs:attribute name="Ќом‘ил" type="–егЌом“ип-лок" use="required"/>
		<xs:attribute name="Ѕ» " type="Ѕ» тип" use="required"/>
		<xs:attribute name="ЌаимЅанк" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="»ЌЌЅанк" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕЅанк" type=" ѕѕ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—ведЅанкѕЅ–—ведѕЅ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ѕ» " type="Ѕ» тип" use="required"/>
		<xs:attribute name="Ќаим”Ѕ–" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="»ЌЌЅ–" type="»ЌЌЅ–“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ”Ѕ–" type=" ѕѕ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="¬ид—ч" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ид—ч" minOccurs="1" maxOccurs="1"/>
			<xs:element name="¬ладелец—ч" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ƒепонент—ч" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Ѕенеф—ч" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="»зм—чета" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="Ќом—ч" type="Ќом—ч“ип-лок" use="required"/>
		<xs:attribute name="ƒатаќткр" type="ƒата" use="required"/>
		<xs:attribute name="ƒатаќкон" type="ƒата" use="optional"/>
		<xs:attribute name="ƒата«акр" type="ƒата" use="optional"/>
		<xs:attribute name=" од¬ал" type=" од¬ал“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ид—ч" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name=" од¬ид—ч" type=" од¬ид—ч“ип-лок" use="required"/>
		<xs:attribute name="¬ид»н—ч" type="¬ид—ч“ип-лок" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="¬л”казЋицо" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч¬л”казЋицо" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»ное¬ладелец" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч¬л”казЋицо" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”казЋицо" type="”казЋицо“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="¬ладелецёЋ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелецёЋ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="¬ладелец»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец»ѕ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="¬ладелец‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец‘Ћ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелецёЋ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ" type=" ѕѕ“ип-лок" use="required"/>
		<xs:attribute name="ЌаимёЋ" type="Ќаим“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец»ѕ‘»ќ»ѕ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ»ѕ" type="»ЌЌ‘Ћ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец»ѕ‘»ќ»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец‘Ћ‘»ќ‘Ћ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип-лок" use="optional"/>
		<xs:attribute name="ƒата–ожд" type="ƒата" use="optional"/>
		<xs:attribute name="ћесто–ожд" type="ћесто–ож“ип-лок" use="optional"/>
		<xs:attribute name=" одƒок" type=" одƒок“ип-лок" use="required"/>
		<xs:attribute name="—ерЌомƒок" type="—ерЌомƒок“ип-лок" use="required"/>
		<xs:attribute name="ƒатаƒок" type="ƒата" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет¬ладелец—ч»ное¬ладелец¬ладелец‘Ћ‘»ќ‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ƒеп”казЋицо" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—чƒеп”казЋицо" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»ноеƒепонент" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонент" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—чƒеп”казЋицо" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”казЋицо" type="”казЋицо“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонент" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ƒепонентёЋ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонентёЋ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ƒепонент»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент»ѕ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ƒепонент‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент‘Ћ" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонентёЋ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ" type=" ѕѕ“ип-лок" use="required"/>
		<xs:attribute name="ЌаимёЋ" type="Ќаим“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент»ѕ‘»ќ»ѕ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ»ѕ" type="»ЌЌ‘Ћ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент»ѕ‘»ќ»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент‘Ћ‘»ќ‘Ћ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип-лок" use="optional"/>
		<xs:attribute name="ƒата–ожд" type="ƒата" use="optional"/>
		<xs:attribute name="ћесто–ожд" type="ћесто–ож“ип-лок" use="optional"/>
		<xs:attribute name=" одƒок" type=" одƒок“ип-лок" use="required"/>
		<xs:attribute name="—ерЌомƒок" type="—ерЌомƒок“ип-лок" use="required"/>
		<xs:attribute name="ƒатаƒок" type="ƒата" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четƒепонент—ч»ноеƒепонентƒепонент‘Ћ‘»ќ‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Ѕен”казЋицо" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—чЅен”казЋицо" minOccurs="1" maxOccurs="1"/>
				<xs:element name="»ноеЅенеф" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенеф" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—чЅен”казЋицо" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="”казЋицо" type="”казЋицо“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенеф" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="ЅенефёЋ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенефёЋ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Ѕенеф»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф»ѕ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Ѕенеф‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћ" minOccurs="1" maxOccurs="1"/>
				<xs:element name="ЅенефёЋино" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенефёЋино" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Ѕенеф‘Ћино" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћино" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенефёЋ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="»ЌЌёЋ" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ" type=" ѕѕ“ип-лок" use="required"/>
		<xs:attribute name="ЌаимёЋ" type="Ќаим“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ»ѕ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф»ѕ‘»ќ»ѕ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ»ѕ" type="»ЌЌ‘Ћ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф»ѕ‘»ќ»ѕ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћ‘»ќ‘Ћ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="»ЌЌ‘Ћ" type="»ЌЌ‘Ћ“ип-лок" use="optional"/>
		<xs:attribute name="ƒата–ожд" type="ƒата" use="optional"/>
		<xs:attribute name="ћесто–ожд" type="ћесто–ож“ип-лок" use="optional"/>
		<xs:attribute name=" одƒок" type=" одƒок“ип-лок" use="required"/>
		<xs:attribute name="—ерЌомƒок" type="—ерЌомƒок“ип-лок" use="required"/>
		<xs:attribute name="ƒатаƒок" type="ƒата" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћ‘»ќ‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенефёЋино" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name=" од—траны" type="ќ —ћ““ип-лок" use="required"/>
		<xs:attribute name="ЌаимёЋ" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="јдрес»но" type="—трока255" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћино" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ‘Ћ" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћино‘»ќ‘Ћ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name=" од—траны" type="ќ —ћ““ип-лок" use="required"/>
		<xs:attribute name="јдрес»но" type="—трока255" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—четЅенеф—ч»ноеЅенефЅенеф‘Ћино‘»ќ‘Ћ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="—ведЅанкѕЅ–»зм" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета—ведЅанкѕЅ–»зм" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="—четƒо»зм" type="Ќом—ч“ип-лок" use="required"/>
		<xs:attribute name="—чет»змен" type="Ќом—ч“ип-лок" use="required"/>
		<xs:attribute name="ƒата»зм" type="ƒата" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета—ведЅанкѕЅ–»зм" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:choice>
				<xs:element name="—ведЅанк" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета—ведЅанкѕЅ–»зм—ведЅанк" minOccurs="1" maxOccurs="1"/>
				<xs:element name="—ведѕЅ–" type="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета—ведЅанкѕЅ–»зм—ведѕЅ–" minOccurs="1" maxOccurs="1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета—ведЅанкѕЅ–»зм—ведЅанк" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="–егЌом" type="–егЌом“ип-лок" use="required"/>
		<xs:attribute name="Ќом‘ил" type="–егЌом“ип-лок" use="required"/>
		<xs:attribute name="Ѕ» " type="Ѕ» тип" use="required"/>
		<xs:attribute name="ЌаимЅанк" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="»ЌЌЅанк" type="»ЌЌёЋ“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕЅанк" type=" ѕѕ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айл—ѕ–ЅЌЌјЋ»„—вед—чет—чет»зм—чета—ведЅанкѕЅ–»зм—ведѕЅ–" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="Ѕ» " type="Ѕ» тип" use="required"/>
		<xs:attribute name="Ќаим”Ѕ–" type="Ќаим“ип-лок" use="required"/>
		<xs:attribute name="»ЌЌЅ–" type="»ЌЌЅ–“ип-лок" use="required"/>
		<xs:attribute name=" ѕѕ”Ѕ–" type=" ѕѕ“ип-лок" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айлѕредЅанка" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:sequence>
			<xs:element name="‘»ќ" type="‘айлѕредЅанка‘»ќ" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="ƒолжность" type="—трока100" use="required"/>
	</xs:complexType>
	<xs:complexType name="‘айлѕредЅанка‘»ќ" xmlns:xs="http://www.w3.org/2001/XMLSchema">
		<xs:attribute name="‘амили€" type="—трока60" use="required"/>
		<xs:attribute name="»м€" type="—трока60" use="required"/>
		<xs:attribute name="ќтчество" type="—трока60" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="“ип»нф“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="—ѕ–ЅЌЌјЋ»„"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="—ѕ–ЅЌЌјЋ»„"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ќом—прав“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="1"/><xs:«начение“ипа «нач“ипа="123"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="“ип—прав“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="1"/><xs:«начение“ипа «нач“ипа="2"/><xs:«начение“ипа «нач“ипа="3"/><xs:«начение“ипа «нач“ипа="4"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:enumeration value="1"/><xs:enumeration value="2"/><xs:enumeration value="3"/><xs:enumeration value="4"/><xs:enumeration value="5"/><xs:enumeration value="6"/><xs:enumeration value="7"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="–егЌом“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="0123"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" одЌќ“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="4320"/><xs:«начение“ипа «нач“ипа="0400"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»ЌЌЅ–“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="7702235133"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="10"/><xs:enumeration value="7702235133"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»ЌЌёЋ“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="1234567890"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="5"/><xs:maxLength value="10"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/><xs:pattern value="\d{5}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»ЌЌ‘Ћ“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="771123456789"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="12"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" ѕѕ“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="616301001"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="9"/><xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ќом—ч“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="40702810311111111111"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬ид—ч“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="1..25"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="25"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" од¬ал“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="810"/><xs:«начение“ипа «нач“ипа="A98"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="—ерЌомƒок“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="4511665544"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="25"/><xs:minLength value="1"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" одƒок“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="21"/><xs:«начение“ипа «нач“ипа="03"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ћесто–ож“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="254"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬ид—прав“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="1"/><xs:«начение“ипа «нач“ипа="6"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="1"/><xs:pattern value="[1-8]{1}"/><xs:enumeration value="1"/><xs:enumeration value="6"/></xs:restriction></xs:simpleType>
	<xs:simpleType name=" од¬ид—ч“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="0100"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="4"/><xs:pattern value="\d{4}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬ерсѕрог“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="40"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="¬ерс‘орм“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="4.02"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:decimal"><xs:totalDigits value="4"/><xs:fractionDigits value="2"/><xs:enumeration value="4.02"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="»нд«апр“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="3216549870123654789753"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:nonNegativeInteger"><xs:totalDigits value="22"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ќаим“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="ѕјќ ¬олна"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="160"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="”казЋицо“ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="счет названного лица"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:length value="20"/><xs:enumeration value="счет названного лица"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ќ —ћ““ип-лок" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:restriction base="xs:string"><xs:length value="3"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="ƒата" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="2014-11-02"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:date"><xs:pattern value="\d{4}-\d{2}-\d{2}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="—трока20" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="0..20 символов"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="20"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="—трока60" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="0..60 символов"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="60"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="—трока100" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="0..100 символов"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="100"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="—трока255" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="0..255 символов"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:maxLength value="255"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="Ѕ» тип" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="040125003"/><xs:«начение“ипа «нач“ипа="123456789"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="\d{9}"/></xs:restriction></xs:simpleType>
	<xs:simpleType name="GUIDтип" xmlns:xs="http://www.w3.org/2001/XMLSchema"><xs:annotation><xs:appinfo><xs:ѕримеры«начений><xs:«начение“ипа «нач“ипа="6F9619FF-8B86-D011-B42D-00CF4FC994FF"/><xs:«начение“ипа «нач“ипа="A57E17DF-8B86-B711-A42D-00CF4FC994AC"/></xs:ѕримеры«начений></xs:appinfo></xs:annotation><xs:restriction base="xs:string"><xs:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/></xs:restriction></xs:simpleType></xs:schema>
