src/main/resources/xsd/kyc/RiskFileXML.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--Центральный Банк Российской Федерации.
XML схема электронного документа "Реестр рисков".
(перечень клиентов КО с высоким и средним уровнем риска).
Версия: 16.
Дата последней модификации: 26.01.2022 12:00.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:cbr-ru:e-forms-mf-KYCEPVV:v0.0.6"
           attributeFormDefault="unqualified" elementFormDefault="qualified" version="0.0.7">
    <xs:element name="RISKS">
        <xs:annotation>
            <xs:documentation>Форма реестра рисков</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="UniqueIdentifier">
                    <xs:annotation>
                        <xs:documentation>ID файла Реестра рисков</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Risks_Report_Date" type="xs:date">
                    <xs:annotation>
                        <xs:documentation>Дата формирования Реестра рисков [ГОСТ ИСО 8601-2001].</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RISK" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="inn">
                                <xs:annotation>
                                    <xs:documentation>ИНН ЮЛ или ИП</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="\d{10}|\d{12}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="client_type">
                                <xs:annotation>
                                    <xs:documentation>Тип клиента</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="ЮЛ"/>
                                        <xs:enumeration value="ИП"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="risk_level">
                                <xs:annotation>
                                    <xs:documentation>Уровень риска</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
									<xs:restriction base="xs:integer">
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="MainRisk" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Основной код критерия отнесения клиента к группе риска</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[1-9](|[0-9]).[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="AddRisk1" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дополнительный код критерия отнесения клиента к группе риска</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[1-9](|[0-9]).[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="AddRisk2" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дополнительный код критерия отнесения клиента к группе риска</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[1-9](|[0-9]).[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="AddRisk3" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Дополнительный код критерия отнесения клиента к группе риска</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[1-9](|[0-9]).[0-9]{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element type="xs:date" name="risk_date">
                                <xs:annotation>
                                    <xs:documentation>Дата присвоения текущего уровня риска [ГОСТ ИСО 8601-2001]</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>